<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BumberDash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BumberDash.Properties.Settings>
            <setting name="IDPickerLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="MyriMatchVersion" serializeAs="String">
                <value>2.1.138</value>
            </setting>
            <setting name="DirecTagVersion" serializeAs="String">
                <value>1.4.6</value>
            </setting>
            <setting name="TagReconVersion" serializeAs="String">
                <value>1.4.7</value>
            </setting>
            <setting name="PepitomeVersion" serializeAs="String">
                <value>1.0.23</value>
            </setting>
            <setting name="DatabaseFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CometVersion" serializeAs="String">
                <value>2014.01 rev. 0</value>
            </setting>
            <setting name="MSGFVersion" serializeAs="String">
                <value>v9979</value>
            </setting>
            <setting name="LibraryFolder" serializeAs="String">
                <value />
            </setting>
        </BumberDash.Properties.Settings>
    </userSettings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>