[submodule "pwiz_tools/Skyline/Executables/Hardklor/Hardklor"]
	path = pwiz_tools/Skyline/Executables/Hardklor/Hardklor
	url = https://github.com/proteowizard/Hardklor
[submodule "pwiz_tools/Skyline/Executables/Hardklor/MSToolkit"]
	path = pwiz_tools/Skyline/Executables/Hardklor/MSToolkit
	url = https://github.com/proteowizard/MSToolkit
[submodule "pwiz_tools/Skyline/Executables/BullseyeSharp"]
	path = pwiz_tools/Skyline/Executables/BullseyeSharp
	url = https://github.com/ProteoWizard/BullseyeSharp
[submodule "pwiz_tools/Skyline/Executables/DevTools/DocumentConverter"]
	path = pwiz_tools/Skyline/Executables/DevTools/DocumentConverter
	url = https://github.com/ProteoWizard/DocumentConverter
