<?xml version="1.0"?>
<configuration>
  <configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="seems.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
  </configSections>
	<userSettings>
		<seems.Properties.Settings>
   <setting name="ShowScanMzLabels" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowChromatogramTimeLabels" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowScanMatchedAnnotations" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowScanUnmatchedAnnotations" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ChromatogramMatchToleranceOverride" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ScanMatchToleranceOverride" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TimeMatchTolerance" serializeAs="String">
    <value>0.5</value>
   </setting>
   <setting name="MzMatchTolerance" serializeAs="String">
    <value>0.5</value>
   </setting>
   <setting name="MainFormLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="MainFormWindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="MainFormSize" serializeAs="String">
    <value>640, 480</value>
   </setting>
   <setting name="ShowScanIntensityLabels" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowChromatogramUnmatchedAnnotations" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowChromatogramMatchedAnnotations" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowChromatogramIntensityLabels" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TimeMatchToleranceUnit" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MzMatchToleranceUnit" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LastGraphFormLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="LastGraphFormWindowState" serializeAs="String">
    <value>Maximized</value>
   </setting>
   <setting name="LastGraphFormSize" serializeAs="String">
    <value>320, 240</value>
   </setting>
   <setting name="DefaultDecimalPlaces" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="CombineIonMobilitySpectra" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IgnoreZeroIntensityPoints" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AcceptZeroLengthSpectra" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TimeInMinutes" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SimAsSpectra" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SrmAsSpectra" serializeAs="String">
    <value>False</value>
   </setting>
  </seems.Properties.Settings>
	</userSettings>
</configuration>
