<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="pwiz.Topograph.ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="turnover.ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
            </layout>
        </appender>
        <root>
            <level value="INFO"/>
            <appender-ref ref="ConsoleAppender"/>
        </root>
      <logger name="NHibernate">
        <level value="WARN"/>
      </logger>
    </log4net>
    <userSettings>
        <pwiz.Topograph.ui.Properties.Settings>
            <setting name="WorkspaceDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="SearchResultsDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="RawFilesDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="PeaksAsVerticalLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PeaksAsHorizontalLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmoothChromatograms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MruLength" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MassAccuracy" serializeAs="String">
                <value>200000</value>
            </setting>
            <setting name="ShowChromatogramScore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportResultsDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="FastaDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="ChromatogramLineWidth" serializeAs="String">
                <value>1</value>
            </setting>
        </pwiz.Topograph.ui.Properties.Settings>
        <turnover.ui.Properties.Settings>
            <setting name="WorkspaceDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="SearchResultsDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="RawFilesDirectory" serializeAs="String">
                <value/>
            </setting>
        </turnover.ui.Properties.Settings>
    </userSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
