@charset "UTF-8";
/* CSS Document */


#Table_01 {
	position:absolute;
	left:0px;
	top:0px;
	width:775px;
	height:680px;
}

#CSMC {
	position:absolute;
	left:0px;
	top:0px;
	width:266px;
	height:47px;
}

#home {
	position:absolute;
	left:266px;
	top:0px;
	width:79px;
	height:46px;
}

#faq {
	position:absolute;
	left:345px;
	top:0px;
	width:89px;
	height:46px;
}

#docs {
	position:absolute;
	left:434px;
	top:0px;
	width:90px;
	height:46px;
}

#download {
	position:absolute;
	left:524px;
	top:0px;
	width:86px;
	height:46px;
}

#contact {
	position:absolute;
	left:610px;
	top:0px;
	width:94px;
	height:46px;
}

#m2 {
	position:absolute;
	left:704px;
	top:0px;
	width:71px;
	height:680px;
}

#wellLine {
	position:absolute;
	left:266px;
	top:46px;
	width:438px;
	height:12px;
}

#SFCAP {
	position:absolute;
	left:0px;
	top:47px;
	width:266px;
	height:52px;
}


#BaseTemplate-11 {
	position:absolute;
	left:0px;
	top:99px;
	width:266px;
	height:508px;
}

#BaseTemplate-12 {
	position:absolute;
	left:0px;
	top:607px;
	width:266px;
	height:73px;
}

#down {
	position:absolute;
	left:266px;
	top:607px;
	width:438px;
	height:17px;
}

#BaseTemplate-14 {
	position:absolute;
	left:266px;
	top:624px;
	width:438px;
	height:56px;
	background-color: #201f25;
}

#LeftSpacer {
	position:absolute;
	left:266px;
	top:58px;
	width:15px;
	height:549px;
	background-color: #707475;
}

#TopSpacer {
	position:absolute;
	left:281px;
	top:58px;
	width:423px;
	height:10px;
	background-color: #707475;
}


#Content {
	position:absolute;
	left:281px;
	top:68px;
	width:423px;
	height:539px;
	background-color: #707475;
	overflow:auto;
}

#RightSpacer {
	position:absolute;
	left:689px;
	top:58px;
	width:15px;
	height:549px;
	background-color: #707475;
}
