<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="pwiz.Topograph.ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="turnover.ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <pwiz.Topograph.ui.Properties.Settings>
            <setting name="WorkspaceDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="SearchResultsDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="RawFilesDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="PeaksAsVerticalLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PeaksAsHorizontalLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmoothChromatograms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MruLength" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MassAccuracy" serializeAs="String">
                <value>200000</value>
            </setting>
            <setting name="ShowChromatogramScore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportResultsDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="FastaDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="ChromatogramLineWidth" serializeAs="String">
                <value>1</value>
            </setting>
        </pwiz.Topograph.ui.Properties.Settings>
        <turnover.ui.Properties.Settings>
            <setting name="WorkspaceDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="SearchResultsDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="RawFilesDirectory" serializeAs="String">
                <value/>
            </setting>
        </turnover.ui.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
