<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeepResxW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KeepResxW.Properties.Settings>
            <setting name="ProjectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ReceivingZip" serializeAs="String">
                <value />
            </setting>
            <setting name="ReceivingProject" serializeAs="String">
                <value />
            </setting>
            <setting name="ReceivingChinese" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReceivingJapanese" serializeAs="String">
                <value>False</value>
            </setting>
        </KeepResxW.Properties.Settings>
    </userSettings>
</configuration>