<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SharedBatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SharedBatch.Properties.Settings>
            <setting name="SkylineLocalCommandPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="SkylineDailyRunnerPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="SkylineRunnerPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="SkylineAdminCmdPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="SkylineDailyAdminCmdPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="SkylineCustomCmdPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="RDir" serializeAs="String">
                <value/>
            </setting>
        </SharedBatch.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
