<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Locator" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="SecurityConfig" type="OFX.Security.Core.SecurityConfigSection,OFX.Security.Core"/>
    <section name="DataServiceConfig" type="Clearcore2.DataService.Configuration.DataServiceConfig, Clearcore2.DataService"/>
    <section name="CommonSettings" type="OFX.Core.CommonSettingsSection, OFX.Core"/>
    <section name="UserLogConfig" type="Clearcore2.UserLog.Types.UserLogConfigSection, Clearcore2.UserLog.Types"/>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" />
        <codeBase version="1.0.98.0" href="SQLite_v1.0.98\System.Data.SQLite.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <UserLogConfig ServiceDriveLabel="" ServiceLogMaxSize="100">
  </UserLogConfig>

  <DataServiceConfig DefaultDataProviderInstanceMode="Singleton" >
    <DataProviderAssemblies>
      <Add Name="Clearcore2.DataService" />
    </DataProviderAssemblies>
    <DataProviders>
      <Add Type="Clearcore2.DataService.Provider.Project.ProjectDataProvider" Name="Projects">
        <Configuration>
          <add key="SpecialDataFolders" value="Data;Acquisition Methods;Batch;Project Information;Quantitation Methods;Quantitation Results" />
        </Configuration>
      </Add>
    </DataProviders>
  </DataServiceConfig>

  <CommonSettings ApplicationDataFolder="MSConvertGUI" >
  </CommonSettings>
  
  <Locator>
    <sectionExtension type="OFX.Core.ObjRefConfigExtension, OFX.Core"/>
    <containers>
      <container>
        <!--Data Services Start-->
        <register name="DataService" type="Clearcore2.Data.Core.Common.DataServiceBase, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.DataService, Clearcore2.DataService">
          <lifetime type="singleton" />
        </register>
        <register name="SampleRepository" type="Clearcore2.Data.Core.Acquisition.ISampleRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.SampleRepository, Clearcore2.DataService">
          <lifetime type="singleton" />
        </register>
        <register name="UserSettingsRepository" type="Clearcore2.Data.Core.UserSettings.IUserSettingsRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.UserSettings.UserSettingsRepository, Clearcore2.DataService">
          <lifetime type="singleton" />
        </register>
        <register name="HardwareProfileRepository" type="Clearcore2.Data.Core.Acquisition.IHardwareProfileRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.HardwareProfile.HardwareProfileRepository, Clearcore2.DataService">
          <lifetime type="singleton" />
        </register>
        <register name="DeviceItemRepository" type="Clearcore2.Data.Core.Acquisition.IDeviceItemRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.DeviceItemRepository, Clearcore2.DataService">
          <lifetime type="singleton" />
        </register>
        <register name="BatchRepository" type="Clearcore2.Data.Core.Acquisition.IBatchRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.Batch.BatchRepository, Clearcore2.DataService">
          <lifetime type="singleton" />
        </register>
        <register name="ProjectRepository" type="Clearcore2.Data.Core.Acquisition.IProjectRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.Project.ProjectRepository, Clearcore2.DataService">
          <lifetime type="singleton" />
        </register>
        <register name="MSMethodRepository" type="Clearcore2.Data.Core.Acquisition.IMSMethodRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.MSMethodRepository, Clearcore2.DataService">
          <lifetime type="singleton" />
        </register>
        <register name="LCMethodRepository" type="Clearcore2.Data.Core.Acquisition.ILCMethodRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.LCMethodRepository, Clearcore2.DataService">
          <lifetime type="singleton" />
        </register>


        <!-- New Data Service Start --> 
        <register name="NewDataService" type="Clearcore2.Data.Contracts.IDataService, Clearcore2.Data.Contracts" mapTo="Clearcore2.DataService.NewDataService, Clearcore2.DataService">
          <lifetime type="singleton" />
        </register>

        <register name="DataService" type="Clearcore2.Data.Core.Common.DataServiceBase, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.DataService, Clearcore2.DataService">
          <lifetime type="singleton" />
        </register>

        <register type="Clearcore2.Data.Contracts.IRequestRouter, Clearcore2.Data.Contracts"
                 mapTo="Clearcore2.DataService.RequestRouter, Clearcore2.DataService">
          <constructor/>
          <lifetime type="singleton"/>
        </register>

        <register name="SampleData" type="Clearcore2.Data.Acquisition.Contracts.ISampleDataProviderClientInternal, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.SampleDataProviderClient, Clearcore2.Data.Acquisition.Client">
          <lifetime type="singleton" />
        </register>

        <register name="SampleData" type="Clearcore2.Data.Acquisition.Contracts.ISampleDataProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.SampleDataProviderClient, Clearcore2.Data.Acquisition.Client">
          <lifetime type="singleton" />
        </register>

        <register name="MethodDataProvider"
                 type="Clearcore2.Data.Acquisition.Contracts.IMethodDataProviderClient, Clearcore2.Data.Acquisition.Contracts"
                 mapTo="Clearcore2.Data.Acquisition.Client.MethodDataProviderClient, Clearcore2.Data.Acquisition.Client">
          <lifetime type="singleton"/>
        </register>

        <register name="DeviceItemDataProvider"
                  type="Clearcore2.Data.Acquisition.Contracts.IDeviceItemProviderClient, Clearcore2.Data.Acquisition.Contracts"
                  mapTo="Clearcore2.Data.Acquisition.Client.DeviceDataProviderClient, Clearcore2.Data.Acquisition.Client">
          <constructor/>
          <lifetime type="singleton"/>
        </register>

        <register name="HardwareProfileDataProvider"
                  type="Clearcore2.Data.Acquisition.Contracts.IHardwareProfileDataProviderClient, Clearcore2.Data.Acquisition.Contracts"
                  mapTo="Clearcore2.Data.Acquisition.Client.HardwareProfileDataProviderClient, Clearcore2.Data.Acquisition.Client">
          <constructor/>
          <lifetime type="singleton"/>
        </register>

        <register name="UserSettingsDataProvider"
                  type="Clearcore2.Data.Acquisition.Contracts.IUserSettingsDataProviderClient, Clearcore2.Data.Acquisition.Contracts"
                  mapTo="Clearcore2.Data.Acquisition.Client.UserSettingsDataProviderClient, Clearcore2.Data.Acquisition.Client">
          <constructor/>
          <lifetime type="singleton"/>
        </register>

        <register name="BatchDataProvider"
                  type="Clearcore2.Data.Acquisition.Contracts.IBatchDataProviderClient, Clearcore2.Data.Acquisition.Contracts"
                  mapTo="Clearcore2.Data.Acquisition.Client.BatchDataProviderClient, Clearcore2.Data.Acquisition.Client">
          <constructor/>
          <lifetime type="singleton"/>
        </register>
        <register name="ProjectDataProvider"
                  type="Clearcore2.Data.Acquisition.Contracts.IProjectDataProviderClient, Clearcore2.Data.Acquisition.Contracts"
                  mapTo="Clearcore2.Data.Acquisition.Client.ProjectDataProviderClient, Clearcore2.Data.Acquisition.Client">
          <constructor/>
          <lifetime type="singleton"/>
        </register>

        <!-- New Data Service End -->

        <!--Data Services End-->

        <register name="WindowsUserAuthenticator" type="OFX.Core.Contracts.Security.IAuthenticator,OFX.Core.Contracts"
				   mapTo="OFX.Security.Library.WindowsUserAuthenticator,OFX.Security.Library">
          <property name="SecurityRepositoryLocator" value="SecurityRepository" />
          <constructor/>
          <lifetime type="singleton"/>
        </register>

        <register name="SecurityRepository" type="OFX.Core.Contracts.Security.ISecurityRepository,OFX.Core.Contracts"
				   mapTo="OFX.Security.SQLiteProviders.SQLiteSecurityRepository, OFX.Security.SQLiteProviders">
          <constructor>
            <param name="initialize" value="true" />
          </constructor>
          <lifetime type="singleton"/>
        </register>

        <register name="AccessAuthorizer" type="OFX.Core.Contracts.Security.IAuthorizer,OFX.Core.Contracts"
				  mapTo="OFX.Security.Library.FunctionAccessAuthorizer,OFX.Security.Library">
          <constructor/>
          <property name="SecurityRepositoryLocator" value="SecurityRepository" />
          <lifetime type="singleton"/>
        </register>

        <register name="DirectoryAccessAuthorizer" type="OFX.Core.Contracts.Security.IAuthorizer,OFX.Core.Contracts"
				 mapTo="OFX.Security.Library.DirectoryAccessAuthorizer,OFX.Security.Library">
          <lifetime type="singleton"/>
        </register>

      </container>
    </containers>

  </Locator>

  <SecurityConfig>
    <Authenticators>
      <add locator="WindowsUserAuthenticator"/>
    </Authenticators>
    <Authorizers>
      <add locator="AuthorizationService"/>
    </Authorizers>
    <SecurityRepositories>
      <add locator="SecurityRepository"/>
    </SecurityRepositories>

  </SecurityConfig>


  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>

</configuration>