<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoQC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AutoQC.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoQC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
  </configSections>

  <log4net>
    <!--
        This stores information in the AutoQCLog_yyyy.MM.dd.txt file.
        -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="AutoQCProgram.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%level] %-3logger: %message%newline%exception" />
      </layout>
      <!-- Remove this filter to see DEBUG level logging. -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <logger name="Log4NetTest.OtherClass">
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
  </log4net>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <AutoQC.Properties.Settings>
            <setting name="SkylineDailyRunnerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SkylineRunnerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SkylineAdminCmdPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SkylineDailyAdminCmdPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SkylineCustomCmdPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InstalledVersion" serializeAs="String">
                <value />
            </setting>
        </AutoQC.Properties.Settings>
        <AutoQC.config>
            <setting name="SkylineRunnerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RScriptPath" serializeAs="String">
                <value />
            </setting>
        </AutoQC.config>
    </userSettings>
    <applicationSettings>
        <AutoQC.Properties.Settings>
            <setting name="XmlVersion" serializeAs="String">
                <value>21.1</value>
            </setting>
        </AutoQC.Properties.Settings>
    </applicationSettings>
</configuration>