<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoQC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AutoQC.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <!--
        This stores information in the AutoQCLog_yyyy.MM.dd.txt file.
        -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{WorkingDirectory}\AutoQC_" />
      <datePattern value="yyyy_MM'.txt'" />
      <preserveLogFileNameExtension value="true" />
      <staticLogFileName value="false"/>
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%level] %-3logger: %message%newline%exception" />
      </layout>
      <!-- Remove this filter to see DEBUG level logging. -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <logger name="Log4NetTest.OtherClass">
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
  </log4net>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <AutoQC.Properties.Settings>
            <setting name="SkylineRunnerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RScriptPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SkylineFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImportRawFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ThresholdFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderToWatch" serializeAs="String">
                <value />
            </setting>
            <setting name="SProCoPRScript" serializeAs="String">
                <value />
            </setting>
            <setting name="PanoramaUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="PanoramaUserEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="PanoramaPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="PanoramaFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="InstrumentType" serializeAs="String">
                <value />
            </setting>
            <setting name="PublishToPanorama" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunSprocop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportExistingFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResultsWindow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AcquisitionTime" serializeAs="String">
                <value>75</value>
            </setting>
        </AutoQC.Properties.Settings>
        <AutoQC.config>
            <setting name="SkylineRunnerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RScriptPath" serializeAs="String">
                <value />
            </setting>
        </AutoQC.config>
    </userSettings>
</configuration>