<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoQC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AutoQC.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AutoQC.Properties.Settings>
            <setting name="SkylineRunnerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RScriptPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SkylineFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImportRawFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ThresholdFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderToWatch" serializeAs="String">
                <value />
            </setting>
            <setting name="SProCoPRScript" serializeAs="String">
                <value />
            </setting>
            <setting name="PanoramaUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="PanoramaUserEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="PanoramaPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="PanoramaFolder" serializeAs="String">
                <value />
            </setting>
        </AutoQC.Properties.Settings>
        <AutoQC.config>
            <setting name="SkylineRunnerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RScriptPath" serializeAs="String">
                <value />
            </setting>
        </AutoQC.config>
    </userSettings>
</configuration>