<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkylineBatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <log4net>
    <!--
        This stores information in the SkylineBatchLog_yyyy.MM.dd.txt file.
        -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="SkylineBatchProgram.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%level] %-3logger: %message%newline%exception" />
      </layout>
      <!-- Remove this filter to see DEBUG level logging. -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <logger name="Log4NetTest.OtherClass">
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
  </log4net>

  <applicationSettings>
    <SkylineBatch.Properties.Settings>
      <setting name="XmlVersion" serializeAs="String">
        <value>21.12</value>
      </setting>
      <setting name="PanoramaTreeState" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowPanormaSkyFiles" serializeAs="String">
        <value>False</value>
      </setting>
    </SkylineBatch.Properties.Settings>
  </applicationSettings>
</configuration>