<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<log4net debug="false">
		<root>
			<priority value="OFF" />
		</root>

		<logger name="NHibernate.Hql.Ast.ANTLR">
			<priority value="OFF" />
		</logger>

		<logger name="NHibernate.SQL">
			<level value="OFF" />
		</logger>

		<logger name="NHibernate.AdoNet.AbstractBatcher">
			<level value="OFF" />
		</logger>

		<logger name="NHibernate.Tool.hbm2ddl.SchemaExport">
			<level value="ERROR" />
		</logger>
	</log4net>
</configuration>