<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pwiz.SkylineTestUtil.Properties.TestUtilSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <pwiz.SkylineTestUtil.Properties.TestUtilSettings>
            <setting name="ShowPreview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreviewFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PreviewFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PreviewFormMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ManualSizePreview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OldImageSource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImageDiffColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ImageDiffAlpha" serializeAs="String">
                <value>127</value>
            </setting>
        </pwiz.SkylineTestUtil.Properties.TestUtilSettings>
    </userSettings>
</configuration>