<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IDPicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IDPicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <IDPicker.Properties.Settings>
            <setting name="DebugLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SourceExtensions" serializeAs="String">
                <value>mz5;mzML;RAW;mzXML;MGF;MS2;WIFF;d</value>
            </setting>
            <setting name="FastaPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>&lt;RootInputDirectory&gt;</string>
                        <string>&lt;RootInputDirectory&gt;\..</string>
                        <string>&lt;RootInputDirectory&gt;\..\..</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SourcePaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>&lt;RootInputDirectory&gt;</string>
                        <string>&lt;RootInputDirectory&gt;\..</string>
                        <string>&lt;RootInputDirectory&gt;\..\..</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TopRankOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserLayouts" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="DefaultMaxRank" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DefaultMaxImportFDR" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="DefaultIgnoreUnmappedPeptides" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultMaxFDR" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="DefaultMinDistinctPeptides" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DefaultMinSpectra" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DefaultMinAdditionalPeptides" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultMinSpectraPerDistinctMatch" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultMinSpectraPerDistinctPeptide" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultMaxProteinGroupsPerPeptide" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultDecoyPrefix" serializeAs="String">
                <value>r-</value>
            </setting>
            <setting name="DefaultGeneLevelFiltering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultChargeIsDistinct" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultAnalysisIsDistinct" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultModificationRoundToNearest" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="DefaultModificationsAreDistinct" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultMaxPrecursorMzError" serializeAs="String">
                <value />
            </setting>
            <setting name="GroupConcatSeparator" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="UUID" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
        </IDPicker.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <IDPicker.Properties.Settings>
            <setting name="License" serializeAs="String">
                <value>
// $Revision$ $Date$ $Author$
//
// Licensed under the Apache License, Version 2.0 (the "License"); 
// you may not use this file except in compliance with the License. 
// You may obtain a copy of the License at 
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software 
// distributed under the License is distributed on an "AS IS" BASIS, 
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
// See the License for the specific language governing permissions and 
// limitations under the License.
//
// The Original Code is the IDPicker project.
//
// The Initial Developer of the Original Code is Matt Chambers.
//
// Copyright 2012 Vanderbilt University
//
// Contributor(s):
//
</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>IDPicker.log</value>
            </setting>
            <setting name="DefaultQonverterSettings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Comet optimized;MonteCarlo;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Linear comet:expect;1 Ascending Linear comet:deltacn;1 Ascending Linear comet:spscore</string>
                        <string>Mascot ionscore;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off mascot:score</string>
                        <string>Mascot ionscore-identityscore;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off mascot:score;1 Descending Off mascot:identity threshold</string>
                        <string>MyriMatch optimized;MonteCarlo;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Linear myrimatch:mvh;1 Ascending Linear xcorr</string>
                        <string>MyriMatch MVH;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off myrimatch:mvh</string>
                        <string>MyriMatch XCorr;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off xcorr</string>
                        <string>MS-GFDB;StaticWeighted;False;Linear;Ignore;Ignore;Ignore;Ignore;0.02;1 Descending Off msgfspecprob</string>
                        <string>MS-GF+;StaticWeighted;False;Linear;Ignore;Ignore;Ignore;Ignore;0.02;1 Descending Off ms-gf:specevalue</string>
                        <string>OMSSA expect;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Descending Off expect</string>
                        <string>Pepitome optimized;MonteCarlo;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Linear hgt;1 Ascending Linear kendallpval</string>
                        <string>Pepitome MVH;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off myrimatch:mvh</string>
                        <string>ProteinPilot;StaticWeighted;False;Linear;Ignore;Ignore;Ignore;Ignore;0.02;1 Ascending Off paragon:confidence</string>
                        <string>pFind evalue;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Descending Off evalue</string>
                        <string>Phenyx zscore;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off zscore</string>
                        <string>Sequest optimized;MonteCarlo;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Linear sequest:xcorr;1 Ascending Linear sequest:deltacn</string>
                        <string>Sequest XCorr;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off sequest:xcorr</string>
                        <string>SpectraST optimized;MonteCarlo;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Linear dot;1 Ascending Linear delta;1 Descending Linear dot_bias</string>
                        <string>TagRecon optimized;MonteCarlo;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Linear myrimatch:mvh;1 Ascending Linear xcorr</string>
                        <string>TagRecon MVH;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off myrimatch:mvh</string>
                        <string>TagRecon XCorr;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off xcorr</string>
                        <string>X!Tandem optimized;MonteCarlo;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Descending Linear x!tandem:expect;1 Ascending Linear x!tandem:hyperscore</string>
                        <string>X!Tandem expect;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Descending Off x!tandem:expect</string>
                        <string>X!Tandem hyperscore;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off x!tandem:hyperscore</string>
                    </ArrayOfString>
                </value>
            </setting>
        </IDPicker.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
