<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IDPicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IDPicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IDPicker.Properties.Settings>
            <setting name="MinDistinctPeptides" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxAmbiguousIds" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MinPeptideLength" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DecoyPrefix" serializeAs="String">
                <value>r-</value>
            </setting>
            <setting name="DebugLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinAdditionalPeptides" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SourceExtensions" serializeAs="String">
                <value>mz5;mzML;RAW;mzXML;MGF;MS2;WIFF;d</value>
            </setting>
            <setting name="FastaPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>&lt;RootInputDirectory&gt;</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SourcePaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>&lt;RootInputDirectory&gt;</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SearchPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>&lt;RootInputDirectory&gt;</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MinSpectraPerProtein" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TopRankOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserLayouts" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="DefaultMaxRank" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DefaultMaxFDR" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="DefaultIgnoreUnmappedPeptides" serializeAs="String">
                <value>False</value>
            </setting>
        </IDPicker.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <IDPicker.Properties.Settings>
            <setting name="LogFileName" serializeAs="String">
                <value>IDPicker.log</value>
            </setting>
            <setting name="DefaultQonverterSettings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Mascot ionscore;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off mascot:score</string>
                        <string>Mascot ionscore-identityscore;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off mascot:score;1 Descending Off mascot:identity threshold</string>
                        <string>MyriMatch optimized;MonteCarlo;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off myrimatch:mvh;1 Ascending Off xcorr</string>
                        <string>MyriMatch MVH;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off myrimatch:mvh</string>
                        <string>MyriMatch XCorr;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off xcorr</string>
                        <string>OMSSA expect;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Descending Off expect</string>
                        <string>Pepitome optimized;MonteCarlo;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off hgt;1 Ascending Off kendallpval</string>
                        <string>Phenyx zscore;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off zscore</string>
                        <string>Sequest optimized;MonteCarlo;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off sequest:xcorr;1 Ascending Off sequest:deltacn</string>
                        <string>Sequest XCorr;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off sequest:xcorr</string>
                        <string>TagRecon optimized;MonteCarlo;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off myrimatch:mvh;1 Ascending Off xcorr</string>
                        <string>X!Tandem optimized;MonteCarlo;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Descending Off x!tandem:expect;1 Ascending Off x!tandem:hyperscore</string>
                        <string>X!Tandem expect;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Descending Off x!tandem:expect</string>
                        <string>X!Tandem hyperscore;StaticWeighted;False;Linear;Ignore;Ignore;Partition;Partition;0.02;1 Ascending Off x!tandem:hyperscore</string>
                    </ArrayOfString>
                </value>
            </setting>
        </IDPicker.Properties.Settings>
    </applicationSettings>
</configuration>