<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Parquet" publicKeyToken="de28deb604dd91c9" culture="neutral" />
        <codeBase version="3.0.0.0" href="ParquetNet.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
