<DataServiceInternalComponent.ExternalFile>
  <sectionExtension type="OFX.Core.ObjRefConfigExtension, OFX.Core"/>
  <containers>
    <container>
      <register name="AcquiringSampleTracker" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IAcquiringSampleTracker, 
                Clearcore2.RFLight.SampleDataProvider"
                mapTo="Clearcore2.RFLight.SampleDataProvider.AcquiringSampleTracker, Clearcore2.RFLight.SampleDataProvider" >

        <lifetime type="singleton"/>
      </register>
      <register name="RFLightSampleProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.ISampleProvider, Clearcore2.RFLight.SampleDataProvider"
              mapTo="Clearcore2.RFLight.SampleDataProvider.SampleProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
          <param name="acquiringSampleTracker">
            <dependency name="AcquiringSampleTracker" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      <register name="RFLightXicProviderRequestBuilder" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IXicProviderRequestBuilder, Clearcore2.RFLight.SampleDataProvider"
               mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.XicProviderRequestBuilder, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="RFLightXicProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IXicProvider, Clearcore2.RFLight.SampleDataProvider"
                mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.XicProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor/>
        <lifetime type="singleton"/>
      </register>

      <register name="Wiff1CentroidXicCalculator" type="Clearcore2.Data.AnalystDataProvider.ICentroidXicCalculator, Clearcore2.Data.AnalystDataProvider"
                mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.Wiff1Adapters.Wiff1CentroidXicCalculator, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="xicProvider">
            <dependency name="RFLightXicProvider" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="RFLightSampleValidator" type="Clearcore2.RFLight.SampleDataProvider.Contracts.ISampleValidator, Clearcore2.RFLight.SampleDataProvider"
              mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.SampleValidator, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      <register name="AdcProvider" type="Clearcore2.RFLight.SampleDataProvider.Processing.IAdcProvider, Clearcore2.RFLight.SampleDataProvider"
              mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.AdcProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="adcDataProvider">
            <dependency name="AdcDataProvider" />
          </param>
        </constructor>
      </register>
      <register name="TimeCycleVoltageConverter" type="Clearcore2.RFLight.SampleDataProvider.Processing.ITimeCycleVoltageConverter, Clearcore2.RFLight.SampleDataProvider"
               mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.TimeCycleVoltageConverter, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
      </register>
      <register name="XwcProvider" type="Clearcore2.RFLight.SampleDataProvider.Processing.IXwcProvider, Clearcore2.RFLight.SampleDataProvider"
              mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.XwcProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="xwcDataProvider">
            <dependency name="XwcDataProvider" />
          </param>
        </constructor>
      </register>
      <register name="SampleSignatureProvider" type="Clearcore2.RFLight.SampleDataProvider.Processing.SampleSignature.ISampleSignatureProvider, Clearcore2.RFLight.SampleDataProvider"
             mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.SampleSignature.SampleSignatureProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      <register name="AdcDataProvider" type="Clearcore2.RFLight.SampleDataProvider.Processing.IAdcDataProvider, Clearcore2.RFLight.SampleDataProvider"
              mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.AdcDataProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      <register name="XwcDataProvider" type="Clearcore2.RFLight.SampleDataProvider.Processing.IXwcDataProvider, Clearcore2.RFLight.SampleDataProvider"
              mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.XwcDataProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      <register name="RFLightExperimentFinder" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IExperimentFinder, Clearcore2.RFLight.SampleDataProvider"
        mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.ExperimentFinder, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      <register name="RFLightExperimentMetaDataProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IExperimentMetaDataProvider, Clearcore2.RFLight.SampleDataProvider"
        mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.ExperimentMetaDataProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      <register name="MassSpectrumDataProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IMassSpectrumDataProvider, Clearcore2.RFLight.SampleDataProvider"
        mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.MassSpectrumDataProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      <register name="MassSpectrumProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IMassSpectrumProvider, Clearcore2.RFLight.SampleDataProvider"
        mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.MassSpectrumProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="massSpectrumDataProvider">
            <dependency name="MassSpectrumDataProvider" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      <register name="RFLightWavelengthSpectrumProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IWavelengthSpectrumProvider, Clearcore2.RFLight.SampleDataProvider"
      mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.DadProcessing.WavelengthSpectrumProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      <register name="OptimalSpectrumFinderDataAccessFactoryV2" type="Clearcore2.RFLight.SampleDataProvider.Processing.OptimalSpectrumV2.IOptimalSpectrumProviderDalFactory, Clearcore2.RFLight.SampleDataProvider"
      mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.OptimalSpectrumV2.OptimalSpectrumDefaultFactory, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="OptimalSpectrumFinderDataAccessFactory" type="Clearcore2.RFLight.SampleDataProvider.Processing.OptimalSpectrum.IOptimalSpectrumProviderDalFactory, Clearcore2.RFLight.SampleDataProvider"
mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.OptimalSpectrum.OptimalSpectrumDefaultFactory, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="OptimalSpectrumFinderV2" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IOptimalSpectrumFinderV2, Clearcore2.RFLight.SampleDataProvider"
      mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.OptimalSpectrumV2.OptimalSpectrumProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="dalFactory">
            <dependency name="OptimalSpectrumFinderDataAccessFactoryV2" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="OptimalSpectrumFinder" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IOptimalSpectrumFinder, Clearcore2.RFLight.SampleDataProvider"
mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.OptimalSpectrum.OptimalSpectrumProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="dalFactory">
            <dependency name="OptimalSpectrumFinderDataAccessFactory" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="SampleMetaInformationProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.ISampleMetaInformationProvider, Clearcore2.RFLight.SampleDataProvider"
      mapTo="Clearcore2.RFLight.SampleDataProvider.SampleMetaInformationProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="sampleMetaInformationDataProvider">
            <dependency name="SampleMetaInformationDataProvider" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      <register name="SampleListCompatibilityProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.ISampleListCompatibilityProvider, Clearcore2.RFLight.SampleDataProvider"
      mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.SampleListCompatibilityProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      <register name="SampleMetaInformationDataProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.ISampleMetaInformationDataProvider, Clearcore2.RFLight.SampleDataProvider"
      mapTo="Clearcore2.RFLight.SampleDataProvider.SampleMetaInformationDataProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      <register name="Wiff2StorageLocationFactory" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IStorageLocationFactory, Clearcore2.RFLight.SampleDataProvider"
                mapTo="Clearcore2.RFLight.SampleDataProvider.Wiff2StorageLocationFactory, Clearcore2.RFLight.SampleDataProvider" >
        <lifetime type="singleton"/>
      </register>
      <register name="StorageLocationPool" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IStorageLocationPool, Clearcore2.RFLight.SampleDataProvider"
					mapTo="Clearcore2.RFLight.SampleDataProvider.StorageLocationPool, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationFactory">
            <dependency name="Wiff2StorageLocationFactory" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      <register name="HashGeneratorFactory" type="Clearcore2.DataService.Repository.Contract.IHashGeneratorFactory, Clearcore2.SampleData.ServerCommon"
    mapTo="Clearcore2.RFLight.SampleDataProvider.Persistence.Cryptography.HashGeneratorFactory, Clearcore2.RFLight.SampleDataProvider.Persistence.Cryptography" >
        <lifetime type="singleton"/>
      </register>
    </container>
  </containers>
</DataServiceInternalComponent.ExternalFile>