<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="IDPicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="IDPicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<IDPicker.Properties.Settings>
   <setting name="MinDistinctPeptides" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="NormalizeSearchScores" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ApplyScoreOptimization" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MaxAmbiguousIds" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="OptimizeScorePermutations" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="MinPeptideLength" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="DecoyPrefix" serializeAs="String">
    <value>r-</value>
   </setting>
   <setting name="MaxFdr" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="Scores" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>mvh,1</string>
      <string>xcorr,1</string>
      <string>hyperscore,1</string>
      <string>ionscore,1</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="Mods" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>M,15.994,1</string>
      <string>C,57.0,1</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="ModsAreDistinctByDefault" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DebugLevel" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="MinAdditionalPeptides" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="SourceExtensions" serializeAs="String">
    <value>mzML;RAW;mzXML;MGF</value>
   </setting>
   <setting name="FastaPaths" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>&lt;RootInputDirectory&gt;</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="SourcePaths" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>&lt;RootInputDirectory&gt;</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="SearchPaths" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>&lt;RootInputDirectory&gt;</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="MinSpectraPerProtein" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="DefaultFileOpenDirectory" serializeAs="String">
    <value>c:\</value>
   </setting>
   <setting name="DefaultSpectrumSourceDirectory" serializeAs="String">
    <value>c:\</value>
   </setting>
   <setting name="LastFileOpenDirectory" serializeAs="String">
    <value>c:\</value>
   </setting>
   <setting name="LastSpectrumSourceDirectory" serializeAs="String">
    <value>c:\</value>
   </setting>
   <setting name="LastProteinDatabaseDirectory" serializeAs="String">
    <value>c:\</value>
   </setting>
  </IDPicker.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<IDPicker.Properties.Settings>
   <setting name="LogFileName" serializeAs="String">
    <value>IDPicker.log</value>
   </setting>
  </IDPicker.Properties.Settings>
	</applicationSettings>
</configuration>