<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="IDPicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
 </configSections>
	<userSettings>
		<IDPicker.Properties.Settings>
   <setting name="AutomaticCheckForUpdates" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LastCheckForUpdates" serializeAs="String">
    <value>1901-01-01</value>
   </setting>
   <setting name="IDPickerFormWindowState" serializeAs="String">
    <value>Maximized</value>
   </setting>
   <setting name="IDPickerFormSize" serializeAs="String">
    <value>800, 600</value>
   </setting>
   <setting name="IDPickerFormLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="LastFileOpenDirectory" serializeAs="String">
    <value>c:\</value>
   </setting>
   <setting name="LastSpectrumSourceDirectory" serializeAs="String">
    <value>c:\</value>
   </setting>
   <setting name="LastProteinDatabaseDirectory" serializeAs="String">
    <value>c:\</value>
   </setting>
   <setting name="DefaultFileOpenDirectory" serializeAs="String">
    <value>c:\</value>
   </setting>
   <setting name="DefaultSpectrumSourceDirectory" serializeAs="String">
    <value>c:\</value>
   </setting>
  </IDPicker.Properties.Settings>
	</userSettings>
</configuration>