<?xml version="1.0"?>
<configuration>
    <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="pwiz.Skyline.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="Skyline.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Skyline.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        <section name="pwiz.Skyline.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
    </configSections>
    <userSettings>
        <pwiz.Skyline.Properties.Settings>
            <setting name="PeptideSettingsTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TransitionSettingsTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SrmSettings" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="EditRTVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportMethodStrategy" serializeAs="String">
                <value>Single</value>
            </setting>
            <setting name="ExportMethodMaxTran" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportMethodType" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="ExportInstrumentType" serializeAs="String">
                <value />
            </setting>
            <setting name="SequenceTreeExpandProteins" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SequenceTreeExpandPeptides" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActiveDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportMethodDwellTime" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MruLength" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LibraryDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSpectra" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAIons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowBIons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCIons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowXIons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowYIons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowZIons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCharge1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCharge2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRanks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitMainX" serializeAs="String">
                <value>253</value>
            </setting>
            <setting name="ShowDuplicateIons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockYAxis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterPeptides" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterTransitionGroups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterTransitions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LibraryResultsDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LibraryResultCutOff" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="FastaDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowRetentionTimes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRetentionTimePred" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTransitionGraphs" serializeAs="String">
                <value>all</value>
            </setting>
            <setting name="LockYChrom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SrmResultsDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoZoomChromatogram" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="TransformTypeChromatogram" serializeAs="String">
                <value>interpolated</value>
            </setting>
            <setting name="SrmResultsSourceType" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowRetentionTimeGraph" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTResidualRThreshold" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="RTRefinePeptides" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RTPredictorVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChromatogramLineWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ChromatogramFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="SpectrumLineWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SpectrumFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ExportMethodRunLength" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="RTScheduleWindows" serializeAs="String">
                <value>2,5,10</value>
            </setting>
            <setting name="RTGraphType" serializeAs="String">
                <value>replicate</value>
            </setting>
            <setting name="EditFindUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditFindText" serializeAs="String">
                <value />
            </setting>
            <setting name="EditFindCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowHeavyFormula" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SequenceTreeExpandPrecursors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ArrangeGraphsGroups" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ArrangeGraphsType" serializeAs="String">
                <value>separated</value>
            </setting>
            <setting name="ArrangeGraphsOrder" serializeAs="String">
                <value>Position</value>
            </setting>
            <setting name="ArrangeGraphsReversed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportIgnoreProteins" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProteomeDbDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportThermoEnergyRamp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRetentionTimesThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowPeakBoundaries" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRetentionTimesEnum" serializeAs="String">
                <value>all</value>
            </setting>
            <setting name="AreaGraphType" serializeAs="String">
                <value>replicate</value>
            </setting>
            <setting name="DetectionGraphType" serializeAs="String">
                <value>detections</value>
            </setting>
            <setting name="ShowPeakAreaGraph" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDetectionGraph" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowResultsGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AreaLogScale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AreaPeptideOrderEnum" serializeAs="String">
                <value>document</value>
            </setting>
            <setting name="ShowPeptideCV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResultsGridSynchSelection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowChromatogramLegend" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowReplicateSelection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPrecursorIon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChromatogramTimeRange" serializeAs="String">
                <value>3.4</value>
            </setting>
            <setting name="ChromatogramMaxIntensity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PeakAreaMaxArea" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PeakAreaMaxCv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PeakDecimalCv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTPeptideValue" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="PeakTimeMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PeakTimeMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PeakTimeMaxCv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SynchronizeIsotopeTypes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowModMassesInExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LicenseVersionAccepted" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoZoomAllChromatograms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRegressionReplicateEnum" serializeAs="String">
                <value>all</value>
            </setting>
            <setting name="ShowTreeReplicateEnum" serializeAs="String">
                <value>single</value>
            </setting>
            <setting name="ShowIonMz" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowObservedMz" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewLibraryLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ViewLibrarySize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LibraryPeptidesAddUnmatched" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LibraryPeptidesKeepFiltered" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LibraryPeptidesAddDuplicatesEnum" serializeAs="String">
                <value>AddToAll</value>
            </setting>
            <setting name="AnnotationColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChromatogramTimeRangeRelative" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScheduleAvergeRT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StaticModsShowMore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCharge3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCharge4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AreaNormalizeToView" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="ShowLibraryPeakArea" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReplicateOrderEnum" serializeAs="String">
                <value>document</value>
            </setting>
            <setting name="ShowPeakAreaLegend" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRetentionTimesLegend" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PeakAreaScope" serializeAs="String">
                <value>document</value>
            </setting>
            <setting name="ExportMethodMaxPrec" serializeAs="String">
                <value />
            </setting>
            <setting name="InstallationId" serializeAs="String">
                <value />
            </setting>
            <setting name="StackTraceListVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="RTCalculatorName" serializeAs="String">
                <value />
            </setting>
            <setting name="TextZoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowPeptideIdTimes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportThermoTriggerRef" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAlignedPeptideIdTimes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportMultiQuant" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowPeptides" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GroupByReplicateAnnotation" serializeAs="String">
                <value />
            </setting>
            <setting name="OrderByReplicateAnnotation" serializeAs="String">
                <value />
            </setting>
            <setting name="PrimaryTransitionCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ShowUnalignedPeptideIdTimes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrimaryTransitionCountGraph" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowMassError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LibraryFilterDocumentPeptides" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LibraryKeepRedundant" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllChromatogramsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AllChromatogramsSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AllChromatogramsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoShowAllChromatogramsGraph" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PanoramaServerExpansion" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowLibraryChromatograms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitChromatogramGraph" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowLabelOverlap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestSmallMolecules" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowMultiplePeptideSelection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowPeptidesDisplayMode" serializeAs="String">
                <value>ByName</value>
            </setting>
            <setting name="ShowFullScan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowPeptidesDisplayModeEnum" serializeAs="String">
                <value>ByName</value>
            </setting>
            <setting name="AutoZoomFullScanGraph" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterIonMobilityFullScan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SumScansFullScan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStartupForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MruMemoryLength" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="StartPageSize" serializeAs="String">
                <value>872, 648</value>
            </setting>
            <setting name="StartPageLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="StartPageMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayGraphsType" serializeAs="String">
                <value>Tiled</value>
            </setting>
            <setting name="ChromatogramMinIntensity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MemoryFractionForImport" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="UsePowerOfTen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AreaFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ExportEdcMass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTPlotType" serializeAs="String">
                <value>correlation</value>
            </setting>
            <setting name="TransitionListInsertPeptides" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LockMassPositive" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LockMassNegative" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LockMassTolerance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DocumentGridView" serializeAs="String">
                <value />
            </setting>
            <setting name="RTPointsType" serializeAs="String">
                <value>targets</value>
            </setting>
            <setting name="ImportResultsAutoCloseWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportResultsAutoScaleGraph" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportResultsSimultaneousFiles" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ImportResultsDoAutoRetry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowMassErrorGraph" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MassErrorGraphType" serializeAs="String">
                <value>replicate</value>
            </setting>
            <setting name="MaxMassError" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinMassError" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MassErrorPointsType" serializeAs="String">
                <value>targets</value>
            </setting>
            <setting name="MassErorrHistogramBinSize" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="MassErrorHistogramTransition" serializeAs="String">
                <value>best</value>
            </setting>
            <setting name="MassErrorHistogramDisplayType" serializeAs="String">
                <value>products</value>
            </setting>
            <setting name="MassErrorHistogram2DXAxis" serializeAs="String">
                <value>retention_time</value>
            </setting>
            <setting name="MassErrorHistogram2DLogScale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowMassErrorLegend" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateCheckAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFullScanNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompactFormatOption" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportPolarityFilterEnum" serializeAs="String">
                <value>all</value>
            </setting>
            <setting name="RTRegressionMethod" serializeAs="String">
                <value>linear</value>
            </setting>
            <setting name="CurrentColorScheme" serializeAs="String">
                <value />
            </setting>
            <setting name="SynchronizeSummaryZooming" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AreaCVHistogramBinWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AreaCVQValueCutoff" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="AreaCVShowCVCutoff" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AreaCVShowMedianCV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AreaCVMaxFrequency" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="AreaCVMaxCV" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="AreaCVPointsType" serializeAs="String">
                <value>targets</value>
            </setting>
            <setting name="AreaCVShowDecimals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AreaCVCVCutoff" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AreaCVNormalizationMethod" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="AreaCVLogScale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AreaCVMinLog10Area" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="AreaCVMaxLog10Area" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="ChromShowRawTimes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFragmentIons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowQuantitativeOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log2FoldChangeCutoff" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PValueCutoff" serializeAs="String">
                <value>1.3010299956639813</value>
            </setting>
            <setting name="GroupComparisonShowSelection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterVolcanoPlotPoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VolcanoPlotPropertiesLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOriginalPeak" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AreaGraphDisplayType" serializeAs="String">
                <value>bars</value>
            </setting>
            <setting name="ShowAdvancedVolcanoPlotFormatting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AuditLogView" serializeAs="String">
                <value />
            </setting>
            <setting name="AreaCVTransitions" serializeAs="String">
                <value>all</value>
            </setting>
            <setting name="AreaCVMsLevel" serializeAs="String">
                <value>products</value>
            </setting>
            <setting name="UIMode" serializeAs="String">
                <value />
            </setting>
            <setting name="MoleculeSettingsTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MixedMoleculeSettingsTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Prosit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrositIntensityModel" serializeAs="String">
                <value />
            </setting>
            <setting name="PrositRetentionTimeModel" serializeAs="String">
                <value />
            </setting>
            <setting name="PrositServer" serializeAs="String">
                <value />
            </setting>
            <setting name="LibMatchMirror" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrositNCE" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="ShowQcTraceName" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportSortByMz" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowLibraryScores" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayModification" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TutorialMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GroupApplyToBy" serializeAs="String">
                <value />
            </setting>
            <setting name="BrukerPrmSqliteFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DetectionsQValueCutoff" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="DetectionsTargetType" serializeAs="String">
                <value>Precursor</value>
            </setting>
            <setting name="ExportMs1RepetitionTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DetectionsYScaleFactor" serializeAs="String">
                <value>Thousands</value>
            </setting>
            <setting name="DetectionsRepCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DetectionsShowAtLeastN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DetectionsShowSelection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DetectionsShowMean" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DetectionsShowLegend" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AreaCVRatioIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShowIonMobility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCollisionCrossSection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFullScanAnnotations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFullScanMassError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportSureQuant" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IntensityThresholdPercent" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IntensityThresholdValue" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="IntensityThresholdMin" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SyncMZScale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullScanPeakType" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="PeakAreaDotpDisplay" serializeAs="String">
                <value>line</value>
            </setting>
            <setting name="PeakAreaDotpCutoffValue" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="PeakAreaDotpCutoffShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChromatogramDisplayRTDigits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PeakAreaIDotpCutoffValue" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="PeakAreaRDotpCutoffValue" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="ShowZHIons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowZHHIons" serializeAs="String">
                <value>False</value>
            </setting>
        </pwiz.Skyline.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <pwiz.Skyline.Properties.Settings>
            <setting name="ProgramName" serializeAs="String">
                <value>Skyline</value>
            </setting>
            <setting name="FractionOfRtWindowAtWhichVariableSizeIsTriggered"
                serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="VariableRtWindowIncreaseFraction" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="InstalledVersion" serializeAs="String">
                <value />
            </setting>
        </pwiz.Skyline.Properties.Settings>
    </applicationSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite,&#xD;&#xA;                 Version=1.0.98.0, Culture=neutral,&#xD;&#xA;                 PublicKeyToken=db937bc2d44ff139"

                                                 />
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669E0DDF0BB1AA2A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
