<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <!-- Path relative to solution directory -->
    <ResultsDirectory>.\TestResults</ResultsDirectory>
  
    <!-- [x86] | x64 -->
    <TargetPlatform>x64</TargetPlatform>  
  
    <!-- Framework35 | [Framework40] | Framework45 -->
    <TargetFrameworkVersion>.NETFramework,Version=v4.7.2</TargetFrameworkVersion>

  </RunConfiguration>

  <TestRunParameters>
    <Parameter name="CustomTestResultsDirectory" value=".\TestResults" />
  </TestRunParameters>

  <MSTest>
    <!--<ForcedLegacyMode>True</ForcedLegacyMode>
    <SettingsFile>TestSettings_x64.testsettings</SettingsFile>-->
    <MapInconclusiveToFailed>True</MapInconclusiveToFailed>
    <CaptureTraceOutput>False</CaptureTraceOutput>
    <DeleteDeploymentDirectoryAfterTestRunIsComplete>False</DeleteDeploymentDirectoryAfterTestRunIsComplete>
    <DeploymentEnabled>False</DeploymentEnabled>
  </MSTest>
</RunSettings>