<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SkylineNightly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SkylineNightly.Properties.Settings>
            <setting name="StartTime" serializeAs="String">
                <value>9:00 PM</value>
            </setting>
            <setting name="NightlyFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PerfTests" serializeAs="String">
                <value>False</value>
            </setting>
        </SkylineNightly.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
