<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IdPickerGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IdPickerGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
          <IdPickerGui.Properties.Settings>
                <setting name="FileFilterText" serializeAs="String">
                      <value />
                </setting>
                <setting name="InclSubFolders" serializeAs="String">
                      <value>1</value>
                </setting>
          </IdPickerGui.Properties.Settings>
    </applicationSettings>
  <userSettings>
        <IdPickerGui.Properties.Settings>
              <setting name="SourceDirectory" serializeAs="String">
                    <value />
              </setting>
              <setting name="ResultsDir" serializeAs="String">
                    <value />
              </setting>
              <setting name="LastWindowSize" serializeAs="String">
                    <value>640, 480</value>
              </setting>
              <setting name="LastWindowLocation" serializeAs="String">
                    <value>320, 240</value>
              </setting>
              <setting name="LastWindowState" serializeAs="String">
                    <value>Maximized</value>
              </setting>
              <setting name="ReportName" serializeAs="String">
                    <value />
              </setting>
              <setting name="TipNumber" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="ShowTipsOnStartup" serializeAs="String">
                    <value>1</value>
              </setting>
        </IdPickerGui.Properties.Settings>
        </userSettings>
      </configuration>
