body {
    font: .875em/1.35 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
}
.RowType {
    font-size: 1.769em;
    line-height: 1.3em;
	    font-family: 'Segoe UI Semibold','Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
    color: #000;
}
table {
border: 1px solid #bbb;
border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
}
th {
    background-color: #ededed;
    color: #636363;
    text-align: left;
	    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
    padding-left: 8px;
	font-weight: bold;
	    border: 1px solid #bbb;
}
td {
	color: #2a2a2a;
    vertical-align: top;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
    padding-left: 8px;
    border: 1px solid #bbb;
}
.Hidden {
    font-style: italic; 
}
.Obsolete {
    text-decoration: line-through;
}