<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include ProductVersion.wxi?>
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="MacCoss Lab, UW" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Skyline is already installed." />
    <MediaTemplate EmbedCab="yes"/>
    <FeatureRef Id="ProductFeature"/>
    <PropertyRef Id="NETFRAMEWORK35"/>
    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <PropertyRef Id="NETFRAMEWORK45"/>
    
    <Condition Message="This application requires .Net Framework versions 4.0, and 4.5.1.  Please install those .NET Frameworks then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL OR (NETFRAMEWORK45 AND NETFRAMEWORK45 <> "#378389")]]>
    </Condition>
    <Condition Message="This application requires .NET Framework 4.0. Please install .NET Framework 4.0 then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>
    <Condition Message="This application requires .NET Framework 4.5.1. Please install .NET Framework 4.5.1 then run this installer again.">
      <![CDATA[Installed OR (NETFRAMEWORK45 AND NETFRAMEWORK45 <> "#378389")]]>
    </Condition>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
  </Product>

  <Fragment>
    <Feature Id="ProductFeature" Title="Skyline Application" Level="1">
      <ComponentGroupRef Id="SkylineComponents" />
      <ComponentGroupRef Id="de_files"/>
      <ComponentGroupRef Id="es_files"/>
      <ComponentGroupRef Id="fr_files"/>
      <ComponentGroupRef Id="hu_files"/>
      <ComponentGroupRef Id="it_files"/>
      <ComponentGroupRef Id="ja_files"/>
      <ComponentGroupRef Id="pt_files"/>
      <ComponentGroupRef Id="ru_files"/>
      <ComponentGroupRef Id="sk_files"/>
      <ComponentGroupRef Id="sv_files"/>
      <ComponentGroupRef Id="tr_files"/>
      <ComponentGroupRef Id="zh_CHS_files"/>
      <ComponentGroupRef Id="zh_tw_files"/>
      <ComponentGroupRef Id="Method_AbSciex_TOF_files"/>
      <ComponentGroupRef Id="Method_AbSciex_TQ_files"/>
      <ComponentGroupRef Id="Method_Agilent_files"/>
      <ComponentGroupRef Id="Method_Bruker_files"/>
      <ComponentGroupRef Id="Method_Thermo_files"/>
      <ComponentGroupRef Id="Method_Waters_files"/>
      <ComponentGroupRef Id="Microsoft.VC90.MFC_files"/>
      <ComponentGroupRef Id="ApplicationShortcuts"/>
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <?if $(sys.BUILDARCH) = x64 ?>
        <Directory Id="ProgramFiles64Folder" >
          <Directory Id="INSTALLFOLDER" Name="Skyline"/>
        </Directory>
      <?else?>
        <Directory Id="ProgramFilesFolder">
          <Directory Id="INSTALLFOLDER" Name="Skyline"/>
        </Directory>
      <?endif?>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="MacCoss Lab, UW"/>
      </Directory>
    </Directory>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="de_directory" Name="de"/>
      <Directory Id="es_directory" Name="es"/>
      <Directory Id="fr_directory" Name="fr"/>
      <Directory Id="hu_directory" Name="hu"/>
      <Directory Id="it_directory" Name="it"/>
      <Directory Id="ja_directory" Name="ja"/>
      <Directory Id="pt_directory" Name="pt"/>
      <Directory Id="ru_directory" Name="ru"/>
      <Directory Id="sk_directory" Name="sk"/>
      <Directory Id="sv_directory" Name="sv"/>
      <Directory Id="tr_directory" Name="tr"/>
      <Directory Id="zh_CHS_directory" Name="zh-CHS"/>
      <Directory Id="zh_tw_directory" Name="zh-tw"/>
      <Directory Id="Method_directory" Name="Method">
        <Directory Id="Method_AbSciex_directory" Name="AbSciex">
          <Directory Id="Method_AbSciex_TOF_directory" Name="TOF"/>
          <Directory Id="Method_AbSciex_TQ_directory" Name="TQ"/>
        </Directory>
        <Directory Id="Method_Agilent_directory" Name="Agilent"/>
        <Directory Id="Method_Bruker_directory" Name="Bruker"/>
        <Directory Id="Method_Thermo_directory" Name="Thermo"/>
        <Directory Id="Method_Waters_directory" Name="Waters"/>
      </Directory>
      <Directory Id="Microsoft.VC90.MFC_directory" Name="Microsoft.VC90.MFC"/>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ApplicationShortcuts" Directory="ApplicationProgramsFolder">
      <?if $(sys.BUILDARCH) = x64 ?>
      <Component Id="ApplicationShortcut64">
        <Shortcut Id="ApplicationMenuShortcut64" Name="$(var.ProductName)" Target="[#Skyline.exe_file]"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\MacCossLabUW\Skyline64" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <?else?>
      <Component Id="ApplicationShortcut32" Guid="{0FC0030E-EE86-4B41-8A69-FE2EDED596E7}">
        <Shortcut Id="ApplicationMenuShortcut32" Name="$(var.ProductName)" Target="[#Skyline.exe_file]"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\MacCossLabUW\Skyline32" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <?endif?>
    </ComponentGroup>
    <ComponentGroup Id="SkylineComponents" Directory="INSTALLFOLDER">
      <Component Id="agtsampleinforw.dll">
        <File Source="$(var.Skyline.TargetDir)/agtsampleinforw.dll" KeyPath="yes"/>
      </Component>
      <Component Id="baf2sql_c.dll">
        <File Source="$(var.Skyline.TargetDir)/baf2sql_c.dll" KeyPath="yes"/>
      </Component>
      <Component Id="BaseCommon.dll">
        <File Source="$(var.Skyline.TargetDir)/BaseCommon.dll" KeyPath="yes"/>
      </Component>
      <Component Id="BaseDataAccess.dll">
        <File Source="$(var.Skyline.TargetDir)/BaseDataAccess.dll" KeyPath="yes"/>
      </Component>
      <Component Id="BaseDataAccess.dll.config">
        <File Source="$(var.Skyline.TargetDir)/BaseDataAccess.dll.config" KeyPath="yes"/>
      </Component>
      <Component Id="BaseError.dll">
        <File Source="$(var.Skyline.TargetDir)/BaseError.dll" KeyPath="yes"/>
      </Component>
      <Component Id="BaseTof.dll">
        <File Source="$(var.Skyline.TargetDir)/BaseTof.dll" KeyPath="yes"/>
      </Component>
      <Component Id="BiblioSpec.dll">
        <File Source="$(var.Skyline.TargetDir)/BiblioSpec.dll" KeyPath="yes"/>
      </Component>
      <Component Id="BiblioSpec.pdb">
        <File Source="$(var.Skyline.TargetDir)/BiblioSpec.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="BlibBuild.exe">
        <File Source="$(var.Skyline.TargetDir)/BlibBuild.exe" KeyPath="yes"/>
      </Component>
      <Component Id="BlibFilter.exe">
        <File Source="$(var.Skyline.TargetDir)/BlibFilter.exe" KeyPath="yes"/>
      </Component>
      <Component Id="cdt.dll">
        <File Source="$(var.Skyline.TargetDir)/cdt.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Clearcore2.Compression.dll">
        <File Source="$(var.Skyline.TargetDir)/Clearcore2.Compression.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Clearcore2.Data.AnalystDataProvider.dll">
        <File Source="$(var.Skyline.TargetDir)/Clearcore2.Data.AnalystDataProvider.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Clearcore2.Data.CommonInterfaces.dll">
        <File Source="$(var.Skyline.TargetDir)/Clearcore2.Data.CommonInterfaces.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Clearcore2.Data.dll">
        <File Source="$(var.Skyline.TargetDir)/Clearcore2.Data.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Clearcore2.Data.WiffReader.dll">
        <File Source="$(var.Skyline.TargetDir)/Clearcore2.Data.WiffReader.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Clearcore2.InternalRawXYProcessing.dll">
        <File Source="$(var.Skyline.TargetDir)/Clearcore2.InternalRawXYProcessing.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Clearcore2.Muni.dll">
        <File Source="$(var.Skyline.TargetDir)/Clearcore2.Muni.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Clearcore2.ProjectUtilities.dll">
        <File Source="$(var.Skyline.TargetDir)/Clearcore2.ProjectUtilities.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Clearcore2.RawXYProcessing.dll">
        <File Source="$(var.Skyline.TargetDir)/Clearcore2.RawXYProcessing.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Clearcore2.StructuredStorage.dll">
        <File Source="$(var.Skyline.TargetDir)/Clearcore2.StructuredStorage.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Clearcore2.Utility.dll">
        <File Source="$(var.Skyline.TargetDir)/Clearcore2.Utility.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Crawdad.dll">
        <File Source="$(var.Skyline.TargetDir)/Crawdad.dll" KeyPath="yes"/>
      </Component>
      <Component Id="DataReader.dll">
        <File Source="$(var.Skyline.TargetDir)/DataReader.dll" KeyPath="yes"/>
      </Component>
      <Component Id="DigitalRune.Windows.Docking.dll">
        <File Source="$(var.Skyline.TargetDir)/DigitalRune.Windows.Docking.dll" KeyPath="yes"/>
      </Component>
      <?if $(sys.BUILDARCH) = x64?>
      <Component Id="fileio_x64.dll">
        <File Source="$(var.Skyline.TargetDir)/fileio_x64.dll" KeyPath="yes"/>
      </Component>
      <Component Id="fregistry_x64.dll">
        <File Source="$(var.Skyline.TargetDir)/fregistry_x64.dll" KeyPath="yes"/>
      </Component>
      <?endif?>
      <Component Id="Iesi.Collections.dll">
        <File Source="$(var.Skyline.TargetDir)/Iesi.Collections.dll" KeyPath="yes"/>
      </Component>
      <?if $(sys.BUILDARCH) != x64 ?>
      <Component Id="Interop.DataExplorer.dll">
        <File Source="$(var.Skyline.TargetDir)/Interop.DataExplorer.dll" KeyPath="yes"/>
      </Component>
      <?endif?>
      <Component Id="Interop.MSFileReaderLib.dll">
        <File Source="$(var.Skyline.TargetDir)/Interop.MSFileReaderLib.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Ionic.Zip.dll">
        <File Source="$(var.Skyline.TargetDir)/Ionic.Zip.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Kajabity_Tools.dll">
        <File Source="$(var.Skyline.TargetDir)/Kajabity Tools.dll" KeyPath="yes"/>
      </Component>
      <Component Id="log4net.dll">
        <File Source="$(var.Skyline.TargetDir)/log4net.dll" KeyPath="yes"/>
      </Component>
      <Component Id="MassLynxRaw.dll">
        <File Source="$(var.Skyline.TargetDir)/MassLynxRaw.dll" KeyPath="yes"/>
      </Component>
      <Component Id="MassSpecDataReader.dll">
        <File Source="$(var.Skyline.TargetDir)/MassSpecDataReader.dll" KeyPath="yes"/>
      </Component>
      <Component Id="MathNet.Numerics.dll">
        <File Source="$(var.Skyline.TargetDir)/MathNet.Numerics.dll" KeyPath="yes"/>
      </Component>
      <Component Id="MethodConverter.dll">
        <File Source="$(var.Skyline.TargetDir)/MethodConverter.dll" KeyPath="yes"/>
      </Component>
      <Component Id="MethodWriter.dll">
        <File Source="$(var.Skyline.TargetDir)/MethodWriter.dll" KeyPath="yes"/>
      </Component>
      <?if $(sys.BUILDARCH) = x64?>
      <Component Id="mfc100u.dll">
        <File Source="$(var.Skyline.TargetDir)/mfc100u.dll" KeyPath="yes"/>
      </Component>
      <?endif?>
      <Component Id="Microsoft.ConcurrencyVisualizer.Markers.dll">
        <File Source="$(var.Skyline.TargetDir)/Microsoft.ConcurrencyVisualizer.Markers.dll" KeyPath="yes"/>
      </Component>
      <Component Id="MIDAC.dll">
        <File Source="$(var.Skyline.TargetDir)/MIDAC.dll" KeyPath="yes"/>
      </Component>
      <Component Id="modifications.xml">
        <File Source="$(var.Skyline.TargetDir)/modifications.xml" KeyPath="yes"/>
      </Component>
      <Component Id="MSFileReader.XRawfile2.dll">
        <File Source="$(var.Skyline.TargetDir)/MSFileReader.XRawfile2.dll" KeyPath="yes"/>
      </Component>
      <Component Id="MSFileReader.XRawfile2.SxS.manifest">
        <File Source="$(var.Skyline.TargetDir)/MSFileReader.XRawfile2.SxS.manifest" KeyPath="yes"/>
      </Component>
      <Component Id="MSGraph.dll">
        <File Source="$(var.Skyline.TargetDir)/MSGraph.dll" KeyPath="yes"/>
      </Component>
      <Component Id="MSGraph.pdb">
        <File Source="$(var.Skyline.TargetDir)/MSGraph.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="msparser.dll">
        <File Source="$(var.Skyline.TargetDir)/msparser.dll" KeyPath="yes"/>
      </Component>
      <Component Id="msvcp100.dll">
        <File Source="$(var.Skyline.TargetDir)/msvcp100.dll" KeyPath="yes"/>
      </Component>
      <Component Id="msvcp110.dll">
        <File Source="$(var.Skyline.TargetDir)/msvcp110.dll" KeyPath="yes"/>
      </Component>
      <Component Id="msvcp120.dll">
        <File Source="$(var.Skyline.TargetDir)/msvcp120.dll" KeyPath="yes"/>
      </Component>
      <Component Id="msvcr100.dll">
        <File Source="$(var.Skyline.TargetDir)/msvcr100.dll" KeyPath="yes"/>
      </Component>
      <Component Id="msvcr110.dll">
        <File Source="$(var.Skyline.TargetDir)/msvcr110.dll" KeyPath="yes"/>
      </Component>
      <Component Id="msvcr120.dll">
        <File Source="$(var.Skyline.TargetDir)/msvcr120.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Native.ProteowizardWrapper.manifest">
        <File Source="$(var.Skyline.TargetDir)/Native.ProteowizardWrapper.manifest" KeyPath="yes"/>
      </Component>
      <Component Id="Newtonsoft.Json.dll">
        <File Source="$(var.Skyline.TargetDir)/Newtonsoft.Json.dll" KeyPath="yes"/>
      </Component>
      <Component Id="NHibernate.dll">
        <File Source="$(var.Skyline.TargetDir)/NHibernate.dll" KeyPath="yes"/>
      </Component>
      <Component Id="ProteomeDb.dll">
        <File Source="$(var.Skyline.TargetDir)/ProteomeDb.dll" KeyPath="yes"/>
      </Component>
      <Component Id="ProteomeDb.pdb">
        <File Source="$(var.Skyline.TargetDir)/ProteomeDb.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="ProteowizardWrapper.dll">
        <File Source="$(var.Skyline.TargetDir)/ProteowizardWrapper.dll" KeyPath="yes"/>
      </Component>
      <Component Id="ProteowizardWrapper.pdb">
        <File Source="$(var.Skyline.TargetDir)/ProteowizardWrapper.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="pwiz.Common.dll">
        <File Source="$(var.Skyline.TargetDir)/pwiz.Common.dll" KeyPath="yes"/>
      </Component>
      <Component Id="pwiz.Common.pdb">
        <File Source="$(var.Skyline.TargetDir)/pwiz.Common.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="pwiz.CommonUtil.dll">
        <File Source="$(var.Skyline.TargetDir)/pwiz.CommonUtil.dll" KeyPath="yes"/>
      </Component>
      <Component Id="pwiz.CommonUtil.pdb">
        <File Source="$(var.Skyline.TargetDir)/pwiz.CommonUtil.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="pwiz_data_cli.dll">
        <File Source="$(var.Skyline.TargetDir)/pwiz_data_cli.dll" KeyPath="yes"/>
      </Component>
      <Component Id="quantitation_1.xsd">
        <File Source="$(var.Skyline.TargetDir)/quantitation_1.xsd" KeyPath="yes"/>
      </Component>
      <Component Id="quantitation_2.xsd">
        <File Source="$(var.Skyline.TargetDir)/quantitation_2.xsd" KeyPath="yes"/>
      </Component>
      <Component Id="Skyline.exe" Guid="{9C43D011-2748-480D-95EF-E7298E4E1B55}">
        <File Source="$(var.Skyline.TargetDir)/$(var.Skyline.TargetName).exe" Id="Skyline.exe_file" KeyPath="yes"/>
        <ProgId Id="Skyline.Document.0" Description="Skyline SRM Document" Icon="SkylineDoc.ico">
          <Extension Id="sky" ContentType="application/sky">
            <Verb Id="open" Command="open" TargetFile="Skyline.exe_file" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
        <ProgId Id="Skyline.Data.0" Description="Skyline SRM Data" Icon="SkylineData.ico">
          <Extension Id="skyd" ContentType="application/skyd">
            <Verb Id="open" Command="open" TargetFile="Skyline.exe_file" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
      </Component>
      <Component Id="Skyline.exe.config">
        <File Source="$(var.Skyline.TargetDir)/$(var.Skyline.TargetName).exe.config" KeyPath="yes" Id="Skyline_exe_config"/>
        <util:XmlFile Id="SetInstalledVersion" 
                      Action="setValue"
                      ElementPath="//applicationSettings/pwiz.Skyline.Properties.Settings/setting[\[]@name='InstalledVersion'[\]]/value" 
                      Value="$(var.ProductVersion)"
                      File="[#Skyline_exe_config]"
                      SelectionLanguage="XPath"
                      />
      </Component>
      <Component Id="Skyline.exe.manifest">
        <File Source="$(var.Skyline.TargetDir)/$(var.Skyline.TargetName).exe.manifest" KeyPath="yes"/>
      </Component>
      <Component Id="Skyline.pdb">
        <File Source="$(var.Skyline.TargetDir)/$(var.Skyline.TargetName).pdb" KeyPath="yes"/>
      </Component>
      <Component Id="SkylineData.ico">
        <File Source="$(var.Skyline.ProjectDir)/SkylineData.ico" KeyPath="yes"/>
      </Component>
      <Component Id="SkylineDoc.ico">
        <File Source="$(var.Skyline.ProjectDir)/SkylineDoc.ico" KeyPath="yes"/>
      </Component>
      <Component Id="SkylineProcessRunner.exe">
        <File Source="$(var.Skyline.TargetDir)/SkylineProcessRunner.exe" KeyPath="yes"/>
      </Component>
      <Component Id="SkylineTool.dll">
        <File Source="$(var.Skyline.TargetDir)/SkylineTool.dll" KeyPath="yes"/>
      </Component>
      <Component Id="SkylineTool.pdb">
        <File Source="$(var.Skyline.TargetDir)/SkylineTool.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="System.Data.SQLite.dll">
        <File Source="$(var.Skyline.TargetDir)/System.Data.SQLite.dll" KeyPath="yes"/>
      </Component>
      <Component Id="UIMFLibrary.dll">
        <File Source="$(var.Skyline.TargetDir)/UIMFLibrary.dll" KeyPath="yes"/>
      </Component>
      <Component Id="unimod_2.xsd">
        <File Source="$(var.Skyline.TargetDir)/unimod_2.xsd" KeyPath="yes"/>
      </Component>
      <Component Id="vcomp110.dll">
        <File Source="$(var.Skyline.TargetDir)/vcomp110.dll" KeyPath="yes"/>
      </Component>
      <Component Id="ZedGraph.dll">
        <File Source="$(var.Skyline.TargetDir)/ZedGraph.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="de_files" Directory="de_directory">
      <Component Id="de_ZedGraph.resources.dll">
        <File Source="$(var.ZedGraph.TargetDir)/de/ZedGraph.resources.dll" Id="de_ZedGraph.resources.dll_file" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="es_files" Directory="es_directory">
      <Component Id="es_ZedGraph.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/es\ZedGraph.resources.dll" Id="es_ZedGraph.resources.dll_file" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="fr_files" Directory="fr_directory">
      <Component Id="fr_ZedGraph.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/fr\ZedGraph.resources.dll" Id="fr_ZedGraph.resources.dll_file" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="hu_files" Directory="hu_directory">
      <Component Id="hu_ZedGraph.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/hu\ZedGraph.resources.dll" Id="hu_ZedGraph.resources.dll_file" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="it_files" Directory="it_directory">
      <Component Id="it_ZedGraph.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/it\ZedGraph.resources.dll" Id="it_ZedGraph.resources.dll_file" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ja_files" Directory="ja_directory">
      <Component Id="ja_BiblioSpec.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/ja\BiblioSpec.resources.dll" Id="ja_BiblioSpec.resources.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="ja_DigitalRune.Windows.Docking.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/ja\DigitalRune.Windows.Docking.resources.dll" Id="ja_DigitalRune.Windows.Docking.resources.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="ja_MSGraph.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/ja\MSGraph.resources.dll" Id="ja_MSGraph.resources.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="ja_ProteomeDb.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/ja\ProteomeDb.resources.dll" Id="ja_ProteomeDb.resources.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="ja_pwiz.Common.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/ja\pwiz.Common.resources.dll" Id="ja_pwiz.Common.resources.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="ja_pwiz.CommonUtil.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/ja\pwiz.CommonUtil.resources.dll" Id="ja_pwiz.CommonUtil.resources.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="ja_Skyline.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/ja\$(var.Skyline.TargetName).resources.dll" Id="ja_Skyline.resources.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="ja_ZedGraph.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/ja\ZedGraph.resources.dll" Id="ja_ZedGraph.resources.dll_file" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="pt_files" Directory="pt_directory">
      <Component Id="pt_ZedGraph.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/pt\ZedGraph.resources.dll" Id="pt_ZedGraph.resources.dll_file" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ru_files" Directory="ru_directory">
      <Component Id="ru_ZedGraph.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/ru\ZedGraph.resources.dll" Id="ru_ZedGraph.resources.dll_file" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="sk_files" Directory="sk_directory">
      <Component Id="sk_ZedGraph.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/sk\ZedGraph.resources.dll" Id="sk_ZedGraph.resources.dll_file" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="sv_files" Directory="sv_directory">
      <Component Id="sv_ZedGraph.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/sv\ZedGraph.resources.dll" Id="sv_ZedGraph.resources.dll_file" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="tr_files" Directory="tr_directory">
      <Component Id="tr_ZedGraph.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/tr\ZedGraph.resources.dll" Id="tr_ZedGraph.resources.dll_file" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="zh_CHS_files" Directory="zh_CHS_directory">
      <Component Id="zh_CHS_BiblioSpec.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/zh-CHS\BiblioSpec.resources.dll" Id="zh_CHS_BiblioSpec.resources.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="zh_CHS_DigitalRune.Windows.Docking.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/zh-CHS\DigitalRune.Windows.Docking.resources.dll" Id="zh_CHS_DigitalRune.Windows.Docking.resources.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="zh_CHS_MSGraph.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/zh-CHS\MSGraph.resources.dll" Id="zh_CHS_MSGraph.resources.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="zh_CHS_ProteomeDb.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/zh-CHS\ProteomeDb.resources.dll" Id="zh_CHS_ProteomeDb.resources.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="zh_CHS_pwiz.Common.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/zh-CHS\pwiz.Common.resources.dll" Id="zh_CHS_pwiz.Common.resources.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="zh_CHS_Skyline.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/zh-CHS\$(var.Skyline.TargetName).resources.dll" Id="zh_CHS_Skyline.resources.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="zh_CHS_ZedGraph.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/zh-CHS\ZedGraph.resources.dll" Id="zh_CHS_ZedGraph.resources.dll_file" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="zh_tw_files" Directory="zh_tw_directory">
      <Component Id="zh_tw_ZedGraph.resources.dll">
        <File Source="$(var.Skyline.TargetDir)/zh-tw\ZedGraph.resources.dll" Id="zh_tw_ZedGraph.resources.dll_file" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="Method_AbSciex_TOF_files" Directory="Method_AbSciex_TOF_directory">
      <Component Id="Method_AbSciex_TOF_BuildAnalystFullScanMethod.exe">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TOF\BuildAnalystFullScanMethod.exe" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TOF_BuildAnalystMethod.dll">
        <File Source="$(var.Skyline.TargetDir)/Method/AbSciex/TOF/BuildAnalystMethod.dll" Id="Method_AbSciex_TOF_BuildAnalystMethod.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TOF_Interop.AcqMethodDir.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TOF\Interop.AcqMethodDir.dll" Id="Method_AbSciex_TOF_Interop.AcqMethodDir.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TOF_Interop.AcqMethodSvr.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TOF\Interop.AcqMethodSvr.dll" Id="Method_AbSciex_TOF_Interop.AcqMethodSvr.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TOF_Interop.Analyst.dll" Guid="A2CCA70B-B2A8-481C-8EC8-F37FE2E5C8D9">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TOF\Interop.Analyst.dll" Id="Method_AbSciex_TOF_Interop.Analyst.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TOF_Interop.AnalystService.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TOF\Interop.AnalystService.dll" Id="Method_AbSciex_TOF_Interop.AnalystService.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TOF_Interop.DDEMethodSvr.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TOF\Interop.DDEMethodSvr.dll" Id="Method_AbSciex_TOF_Interop.DDEMethodSvr.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TOF_Interop.IDAMethodSvr.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TOF\Interop.IDAMethodSvr.dll" Id="Method_AbSciex_TOF_Interop.IDAMethodSvr.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TOF_Interop.MSMethodSvr.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TOF\Interop.MSMethodSvr.dll" Id="Method_AbSciex_TOF_Interop.MSMethodSvr.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TOF_Interop.ParameterSvr.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TOF\Interop.ParameterSvr.dll" Id="Method_AbSciex_TOF_Interop.ParameterSvr.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TOF_Interop.QueueDispatcher.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TOF\Interop.QueueDispatcher.dll" Id="Method_AbSciex_TOF_Interop.QueueDispatcher.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TOF_Interop.ROTMan.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TOF\Interop.ROTMan.dll" Id="Method_AbSciex_TOF_Interop.ROTMan.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TOF_ROTMANLib.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TOF\ROTMANLib.dll" Id="Method_AbSciex_TOF_ROTMANLib.dll_file" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TOF_StdType.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TOF\StdType.dll" Id="Method_AbSciex_TOF_StdType.dll_file" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="Method_AbSciex_TQ_files" Directory="Method_AbSciex_TQ_directory">
      <Component Id="Method_AbSciex_TQ_BuildAnalystMethod.dll">
        <File Source="$(var.Skyline.TargetDir)/Method/AbSciex/TQ/BuildAnalystMethod.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TQ_BuildQTRAPMethod.exe">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TQ\BuildQTRAPMethod.exe" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TQ_Interop.AcqMethodDir.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TQ\Interop.AcqMethodDir.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TQ_Interop.AcqMethodSvr.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TQ\Interop.AcqMethodSvr.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TQ_Interop.Analyst.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TQ\Interop.Analyst.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TQ_Interop.AnalystService.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TQ\Interop.AnalystService.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TQ_Interop.DDEMethodSvr.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TQ\Interop.DDEMethodSvr.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TQ_Interop.IDAMethodSvr.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TQ\Interop.IDAMethodSvr.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TQ_Interop.MSMethodSvr.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TQ\Interop.MSMethodSvr.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TQ_Interop.ParameterSvr.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TQ\Interop.ParameterSvr.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TQ_Interop.QueueDispatcher.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TQ\Interop.QueueDispatcher.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TQ_Interop.ROTMan.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TQ\Interop.ROTMan.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TQ_QueueDispatcherLib.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TQ\QueueDispatcherLib.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TQ_ROTMANLib.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TQ\ROTMANLib.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Method_AbSciex_TQ_StdType.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\AbSciex\TQ\StdType.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="Method_Agilent_files" Directory="Method_Agilent_directory">
      <Component Id="Method_Agilent_BuildAgilentMethod.exe">
        <File Source="$(var.Skyline.TargetDir)/Method\Agilent\BuildAgilentMethod.exe" KeyPath="yes"/>
      </Component>
      <Component Id="Method_Agilent_MethodCreator.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\Agilent\MethodCreator.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="Method_Bruker_files" Directory="Method_Bruker_directory">
      <Component Id="Method_Bruker_BDal.Submethod.Wrapper.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\Bruker\BDal.Submethod.Wrapper.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Method_Bruker_BDal.Submethod.Wrapper.xml">
        <File Source="$(var.Skyline.TargetDir)/Method\Bruker\BDal.Submethod.Wrapper.xml" KeyPath="yes"/>
      </Component>
      <Component Id="Method_Bruker_BdalRetentionTimeMassList.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\Bruker\BdalRetentionTimeMassList.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Method_Bruker_BuildBrukerMethod.exe">
        <File Source="$(var.Skyline.TargetDir)/Method\Bruker\BuildBrukerMethod.exe" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="Method_Thermo_files" Directory="Method_Thermo_directory">
      <Component Id="Method_Thermo_BuildLTQMethod.exe">
        <File Source="$(var.Skyline.TargetDir)/Method\Thermo\BuildLTQMethod.exe" KeyPath="yes"/>
      </Component>
      <Component Id="Method_Thermo_BuildThermoMethod.exe">
        <File Source="$(var.Skyline.TargetDir)/Method\Thermo\BuildThermoMethod.exe" KeyPath="yes"/>
      </Component>
      <Component Id="Method_Thermo_BuildTSQEZMethod.exe">
        <File Source="$(var.Skyline.TargetDir)/Method\Thermo\BuildTSQEZMethod.exe" KeyPath="yes"/>
      </Component>
      <Component Id="Method_Thermo_Thermo.TNG.MethodXMLFactory.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\Thermo\Thermo.TNG.MethodXMLFactory.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Method_Thermo_Thermo.TNG.MethodXMLInterface.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\Thermo\Thermo.TNG.MethodXMLInterface.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="Method_Waters_files" Directory="Method_Waters_directory">
      <Component Id="Method_Waters_BuildWatersMethod.exe">
        <File Source="$(var.Skyline.TargetDir)/Method\Waters\BuildWatersMethod.exe" KeyPath="yes"/>
      </Component>
      <Component Id="Method_Waters_VerifyESkylineLibrary.dll">
        <File Source="$(var.Skyline.TargetDir)/Method\Waters\VerifyESkylineLibrary.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="Microsoft.VC90.MFC_files" Directory="Microsoft.VC90.MFC_directory">
      <?if $(sys.BUILDARCH) != x64 ?>
      <Component Id="Microsoft.VC90.MFC_mfc90u.dll">
        <File Source="$(var.Skyline.TargetDir)/Microsoft.VC90.MFC\mfc90u.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Microsoft.VC90.MFC_Microsoft.VC90.MFC.manifest">
        <File Source="$(var.Skyline.TargetDir)/Microsoft.VC90.MFC\Microsoft.VC90.MFC.manifest" KeyPath="yes"/>
      </Component>
      <?endif?>
    </ComponentGroup>
  </Fragment>
</Wix>