<DataServiceClientComponent.ExternalFile>
  <sectionExtension type="OFX.Core.ObjRefConfigExtension, OFX.Core"/>
  <containers>
    <container>
      <register type="Clearcore2.Data.Contracts.IRequestRouter, Clearcore2.Data.Contracts"
                mapTo="Clearcore2.DataService.RequestRouter, Clearcore2.DataService">
        <constructor/>
        <lifetime type="singleton"/>
      </register>

      <register name="CalibrationDataProvider"
                    type="Clearcore2.Data.Acquisition.Contracts.ICalibrationReferenceClient, Clearcore2.Data.Acquisition.Contracts"
                    mapTo="Clearcore2.Data.Acquisition.Client.CalibrationReferenceClient, Clearcore2.Data.Acquisition.Client">
        <lifetime type="singleton"/>
      </register>

      <register name="MethodDataProvider"
                 type="Clearcore2.Data.Acquisition.Contracts.IMethodDataProviderClient, Clearcore2.Data.Acquisition.Contracts"
                 mapTo="Clearcore2.Data.Acquisition.Client.MethodDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <lifetime type="singleton"/>
      </register>

      <register name="LCMethodRepository" type="Clearcore2.Data.Core.Acquisition.ILCMethodRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.LCMethodRepository, Clearcore2.SampleData.ServerCommon">
        <lifetime type="singleton" />
      </register>

      <register name="Wiff1CentroidXicCalculator" type="Clearcore2.Data.AnalystDataProvider.ICentroidXicCalculator, Clearcore2.Data.AnalystDataProvider"
            mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.Wiff1Adapters.Wiff1CentroidXicCalculator, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="xicProvider">
            <dependency name="RFLightXicProvider" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      
      <register name="RFLightXicProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IXicProvider, Clearcore2.RFLight.SampleDataProvider"
            mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.XicProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor/>
        <lifetime type="singleton"/>
      </register>

      <register name="BatchRepository" type="Clearcore2.Data.Core.Acquisition.IBatchRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.Batch.BatchRepository, Clearcore2.DataService">
        <lifetime type="singleton" />
      </register>
      <register name="ProjectRepository" type="Clearcore2.Data.Core.Acquisition.IProjectRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.Project.ProjectRepository, Clearcore2.DataService">
        <lifetime type="singleton" />
      </register>

      <register name="BatchDataProvider" type="Clearcore2.Data.Acquisition.Contracts.IBatchDataProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.BatchDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>
      <register name="ProjectDataProvider" type="Clearcore2.Data.Acquisition.Contracts.IProjectDataProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.ProjectDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>
      <register name="ProcessingMethodsProvider" type="Clearcore2.Data.Acquisition.Contracts.IProcessingMethodsProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.ProcessingMethodsProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>
      <register name="SampleData" type="Clearcore2.Data.Acquisition.Contracts.ISampleDataProviderClientInternal, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.SampleDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <lifetime type="singleton" />
      </register>

      <register name="SampleData" type="Clearcore2.Data.Acquisition.Contracts.ISampleDataProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.SampleDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <lifetime type="singleton" />
      </register>

      <register name="BatchDataProvider" type="Clearcore2.Data.Acquisition.Contracts.IBatchDataProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.BatchDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>
      <register name="SampleRepository" type="Clearcore2.Data.Core.Acquisition.ISampleRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.SampleRepository, Clearcore2.SampleData.ServerCommon">
        <lifetime type="singleton" />
      </register>
      <register name="DeviceItemDataProvider" type="Clearcore2.Data.Acquisition.Contracts.IDeviceItemProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.DeviceDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>
      <register name="HardwareProfileDataProvider" type="Clearcore2.Data.Acquisition.Contracts.IHardwareProfileDataProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.HardwareProfileDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>
      <register name="QueueDataProvider"
                type="Clearcore2.Data.Acquisition.Contracts.IQueueDataProviderClient, Clearcore2.Data.Acquisition.Contracts"
                mapTo="Clearcore2.Data.Acquisition.Client.QueueDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>
      <register name="QueueRepository" type="Clearcore2.Data.Core.Acquisition.IQueueRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.Queue.MongoDbQueueRepository, Clearcore2.DataService">
        <lifetime type="singleton" />
      </register>

      <register name="UserSettingsDataProvider" type="Clearcore2.Data.Acquisition.Contracts.IUserSettingsDataProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.UserSettingsDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>

      <register name ="ServiceLogDataProvider" type="Clearcore2.Data.Acquisition.Contracts.IServiceLogDataProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.ServiceLogDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>

      <register name="AcquisitionDataWriter" type="Clearcore2.Data.Acquisition.Contracts.IAcquisitionSampleDataWriterClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.AcquisitionSampleDataWriterClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>

      <register name="ACQFileValidator" type="Clearcore2.Data.Acquisition.Contracts.IAcquisitionFileValidator, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.AcquisitionFileValidator, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>

      <register type="Clearcore2.Data.Acquisition.Contracts.ICalibrationReferenceClient, Clearcore2.Data.Acquisition.Contracts"
                mapTo="Clearcore2.Data.Acquisition.Client.CalibrationReferenceClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>

      <register name="DataService" type="Clearcore2.Data.Core.Common.DataServiceBase, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.DataService, Clearcore2.DataService">
        <lifetime type="singleton" />
      </register>
    </container>
  </containers>
</DataServiceClientComponent.ExternalFile>