<DataServiceComponent.ExternalFile>
  <sectionExtension type="OFX.Core.ObjRefConfigExtension, OFX.Core"/>
  <containers>
    <container>
      <register name="AcquiringSampleTracker" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IAcquiringSampleTracker, 
                Clearcore2.RFLight.SampleDataProvider"
                mapTo="Clearcore2.RFLight.SampleDataProvider.AcquiringSampleTracker, Clearcore2.RFLight.SampleDataProvider" >

        <lifetime type="singleton"/>
      </register>
      <register type="Clearcore2.Data.Contracts.IRequestRouter, Clearcore2.Data.Contracts"
                mapTo="Clearcore2.DataService.RequestRouter, Clearcore2.DataService">
        <constructor/>
        <lifetime type="singleton"/>
      </register>

      <register name="CalibrationDataProvider"
                    type="Clearcore2.Data.Acquisition.Contracts.ICalibrationReferenceClient, Clearcore2.Data.Acquisition.Contracts"
                    mapTo="Clearcore2.Data.Acquisition.Client.CalibrationReferenceClient, Clearcore2.Data.Acquisition.Client">
        <lifetime type="singleton"/>
      </register>

      <register name="MethodDataProvider"
                 type="Clearcore2.Data.Acquisition.Contracts.IMethodDataProviderClient, Clearcore2.Data.Acquisition.Contracts"
                 mapTo="Clearcore2.Data.Acquisition.Client.MethodDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <lifetime type="singleton"/>
      </register>

      <register name="LCMethodRepository" type="Clearcore2.Data.Core.Acquisition.ILCMethodRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.LCMethodRepository, Clearcore2.SampleData.ServerCommon">
        <lifetime type="singleton" />
      </register>

      <register name="BatchRepository" type="Clearcore2.Data.Core.Acquisition.IBatchRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.Batch.BatchRepository, Clearcore2.DataService">
        <lifetime type="singleton" />
      </register>
      <register name="ProjectRepository" type="Clearcore2.Data.Core.Acquisition.IProjectRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.Project.ProjectRepository, Clearcore2.DataService">
        <lifetime type="singleton" />
      </register>

      <register name="BatchDataProvider" type="Clearcore2.Data.Acquisition.Contracts.IBatchDataProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.BatchDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>
      <register name="ProjectDataProvider" type="Clearcore2.Data.Acquisition.Contracts.IProjectDataProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.ProjectDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>
      <register name="ProcessingMethodsProvider" type="Clearcore2.Data.Acquisition.Contracts.IProcessingMethodsProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.ProcessingMethodsProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>
      <register name="SampleData" type="Clearcore2.Data.Acquisition.Contracts.ISampleDataProviderClientInternal, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.SampleDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <lifetime type="singleton" />
      </register>

      <register name="SampleData" type="Clearcore2.Data.Acquisition.Contracts.ISampleDataProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.SampleDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <lifetime type="singleton" />
      </register>

      <register name="BatchDataProvider" type="Clearcore2.Data.Acquisition.Contracts.IBatchDataProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.BatchDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>
      <register name="SampleRepository" type="Clearcore2.Data.Core.Acquisition.ISampleRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.SampleRepository, Clearcore2.SampleData.ServerCommon">
        <lifetime type="singleton" />
      </register>
      <register name="DeviceItemDataProvider" type="Clearcore2.Data.Acquisition.Contracts.IDeviceItemProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.DeviceDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>
      <register name="HardwareProfileDataProvider" type="Clearcore2.Data.Acquisition.Contracts.IHardwareProfileDataProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.HardwareProfileDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>
      <register name="QueueDataProvider"
                type="Clearcore2.Data.Acquisition.Contracts.IQueueDataProviderClient, Clearcore2.Data.Acquisition.Contracts"
                mapTo="Clearcore2.Data.Acquisition.Client.QueueDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>
      <register name="QueueRepository" type="Clearcore2.Data.Core.Acquisition.IQueueRepository, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.Repository.Queue.MongoDbQueueRepository, Clearcore2.DataService">
        <lifetime type="singleton" />
      </register>

      <register name="UserSettingsDataProvider" type="Clearcore2.Data.Acquisition.Contracts.IUserSettingsDataProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.UserSettingsDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>

      <register name="ServiceLogDataProvider" type="Clearcore2.Data.Acquisition.Contracts.IServiceLogDataProviderClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.ServiceLogDataProviderClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>

      <register name="AcquisitionDataWriter" type="Clearcore2.Data.Acquisition.Contracts.IAcquisitionSampleDataWriterClient, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.AcquisitionSampleDataWriterClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>

      <register name="ACQFileValidator" type="Clearcore2.Data.Acquisition.Contracts.IAcquisitionFileValidator, Clearcore2.Data.Acquisition.Contracts" mapTo="Clearcore2.Data.Acquisition.Client.AcquisitionFileValidator, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>

      <register type="Clearcore2.Data.Acquisition.Contracts.ICalibrationReferenceClient, Clearcore2.Data.Acquisition.Contracts"
                mapTo="Clearcore2.Data.Acquisition.Client.CalibrationReferenceClient, Clearcore2.Data.Acquisition.Client">
        <constructor/>
        <lifetime type="singleton"/>
      </register>

      <register name="DataService" type="Clearcore2.Data.Core.Common.DataServiceBase, Clearcore2.Data.Core" mapTo="Clearcore2.DataService.DataService, Clearcore2.DataService">
        <lifetime type="singleton" />
      </register>

      <register name="RFLightSampleProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.ISampleProvider, Clearcore2.RFLight.SampleDataProvider"
              mapTo="Clearcore2.RFLight.SampleDataProvider.SampleProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
          <param name="acquiringSampleTracker">
            <dependency name="AcquiringSampleTracker" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="RFLightXicProviderRequestBuilder" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IXicProviderRequestBuilder, Clearcore2.RFLight.SampleDataProvider"
                mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.XicProviderRequestBuilder, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="RFLightXicProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IXicProvider, Clearcore2.RFLight.SampleDataProvider"
                mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.XicProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor/>
        <lifetime type="singleton"/>
      </register>

      <register name="Wiff1CentroidXicCalculator" type="Clearcore2.Data.AnalystDataProvider.ICentroidXicCalculator, Clearcore2.Data.AnalystDataProvider"
                mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.Wiff1Adapters.Wiff1CentroidXicCalculator, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="xicProvider">
            <dependency name="RFLightXicProvider" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <!-- Recalibration section begin -->
      <!-- IRecalNotification -->
      <register name="RecalNotification" type="ClearCore2.SampleData.Recalibration.IRecalNotification, ClearCore2.SampleData.Recalibration"
                  mapTo="ClearCore2.SampleData.Recalibration.RecalNotification, ClearCore2.SampleData.Recalibration" >
        <lifetime type="singleton"/>
      </register>

      <!-- IRecalFileAccess -->
      <register name="RecalFileAccess" type="ClearCore2.SampleData.Recalibration.IRecalFileAccess, ClearCore2.SampleData.Recalibration"
                  mapTo="ClearCore2.SampleData.Recalibration.RecalFileAccess, ClearCore2.SampleData.Recalibration" >
        <lifetime type="singleton"/>
      </register>


      <!-- IRecalSingleSelection -->
      <!-- Note: constructor params must have dependency defined or param resolution will fail "x is an interface are you missing a reference?" -->
      <register name="RecalSingleSelection" type="ClearCore2.SampleData.Recalibration.IRecalSingleSelection, ClearCore2.SampleData.Recalibration"
                  mapTo="ClearCore2.SampleData.Recalibration.RecalSingleSelection, ClearCore2.SampleData.Recalibration" >
        <constructor>
          <param name="notifier">
            <dependency name="RecalNotification" />
          </param>
          <param name="fileAccess">
            <dependency name="RecalFileAccess" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <!-- IRecalSettingsProvider -->
      <register name="RecalSettingsProvider" type="ClearCore2.SampleData.Recalibration.IRecalSettingsProvider, ClearCore2.SampleData.Recalibration"
                  mapTo="ClearCore2.SampleData.Recalibration.RecalSettingsProvider, ClearCore2.SampleData.Recalibration" >
        <lifetime type="singleton"/>
      </register>

      <!-- IRecalibrator -->
      <!-- Note: constructor params must have dependency defined or param resolution will fail "x is an interface are you missing a reference?" -->
      <register name="RecalibrationProvider" type="Clearcore2.SampleData.Client.Contracts.Recalibration.IRecalibrationProvider, Clearcore2.SampleData.Client.Contracts"
                mapTo="ClearCore2.SampleData.Recalibration.RecalEngine, ClearCore2.SampleData.Recalibration" >
        <constructor>
          <param name="singleRecalProcessor">
            <dependency name="RecalSingleSelection" />
          </param>
          <param name="settingsProvider">
            <dependency name="RecalSettingsProvider" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      <!-- Recalibration section end -->

      <register name="RFLightSampleValidator" type="Clearcore2.RFLight.SampleDataProvider.Contracts.ISampleValidator, Clearcore2.RFLight.SampleDataProvider"
              mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.SampleValidator, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="AdcProvider" type="Clearcore2.RFLight.SampleDataProvider.Processing.IAdcProvider, Clearcore2.RFLight.SampleDataProvider"
              mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.AdcProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="adcDataProvider">
            <dependency name="AdcDataProvider" />
          </param>
        </constructor>
      </register>
      <register name="TimeCycleVoltageConverter" type="Clearcore2.RFLight.SampleDataProvider.Processing.ITimeCycleVoltageConverter, Clearcore2.RFLight.SampleDataProvider"
               mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.TimeCycleVoltageConverter, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
      </register>
      <register name="XwcProvider" type="Clearcore2.RFLight.SampleDataProvider.Processing.IXwcProvider, Clearcore2.RFLight.SampleDataProvider"
              mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.XwcProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="xwcDataProvider">
            <dependency name="XwcDataProvider" />
          </param>
        </constructor>
      </register>

      <register name="SampleSignatureProvider" type="Clearcore2.RFLight.SampleDataProvider.Processing.SampleSignature.ISampleSignatureProvider, Clearcore2.RFLight.SampleDataProvider"
             mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.SampleSignature.SampleSignatureProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="AdcDataProvider" type="Clearcore2.RFLight.SampleDataProvider.Processing.IAdcDataProvider, Clearcore2.RFLight.SampleDataProvider"
              mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.AdcDataProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="XwcDataProvider" type="Clearcore2.RFLight.SampleDataProvider.Processing.IXwcDataProvider, Clearcore2.RFLight.SampleDataProvider"
              mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.XwcDataProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="RFLightExperimentFinder" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IExperimentFinder, Clearcore2.RFLight.SampleDataProvider"
        mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.ExperimentFinder, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="RFLightExperimentMetaDataProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IExperimentMetaDataProvider, Clearcore2.RFLight.SampleDataProvider"
        mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.ExperimentMetaDataProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="MassSpectrumDataProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IMassSpectrumDataProvider, Clearcore2.RFLight.SampleDataProvider"
        mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.MassSpectrumDataProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="MassSpectrumProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IMassSpectrumProvider, Clearcore2.RFLight.SampleDataProvider"
        mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.MassSpectrumProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="massSpectrumDataProvider">
            <dependency name="MassSpectrumDataProvider" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="RFLightWavelengthSpectrumProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IWavelengthSpectrumProvider, Clearcore2.RFLight.SampleDataProvider"
      mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.DadProcessing.WavelengthSpectrumProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="OptimalSpectrumFinderDataAccessFactoryV2" type="Clearcore2.RFLight.SampleDataProvider.Processing.OptimalSpectrumV2.IOptimalSpectrumProviderDalFactory, Clearcore2.RFLight.SampleDataProvider"
      mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.OptimalSpectrumV2.OptimalSpectrumDefaultFactory, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="OptimalSpectrumFinderDataAccessFactory" type="Clearcore2.RFLight.SampleDataProvider.Processing.OptimalSpectrum.IOptimalSpectrumProviderDalFactory, Clearcore2.RFLight.SampleDataProvider"
      mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.OptimalSpectrum.OptimalSpectrumDefaultFactory, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>


      <register name="OptimalSpectrumFinderV2" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IOptimalSpectrumFinderV2, Clearcore2.RFLight.SampleDataProvider"
      mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.OptimalSpectrumV2.OptimalSpectrumProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="dalFactory">
            <dependency name="OptimalSpectrumFinderDataAccessFactoryV2" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="OptimalSpectrumFinder" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IOptimalSpectrumFinder, Clearcore2.RFLight.SampleDataProvider"
      mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.OptimalSpectrum.OptimalSpectrumProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="dalFactory">
            <dependency name="OptimalSpectrumFinderDataAccessFactory" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="SampleMetaInformationProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.ISampleMetaInformationProvider, Clearcore2.RFLight.SampleDataProvider"
      mapTo="Clearcore2.RFLight.SampleDataProvider.SampleMetaInformationProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="sampleMetaInformationDataProvider">
            <dependency name="SampleMetaInformationDataProvider" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="SampleListCompatibilityProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.ISampleListCompatibilityProvider, Clearcore2.RFLight.SampleDataProvider"
      mapTo="Clearcore2.RFLight.SampleDataProvider.Processing.SampleListCompatibilityProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="SampleMetaInformationDataProvider" type="Clearcore2.RFLight.SampleDataProvider.Contracts.ISampleMetaInformationDataProvider, Clearcore2.RFLight.SampleDataProvider"
      mapTo="Clearcore2.RFLight.SampleDataProvider.SampleMetaInformationDataProvider, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationPool">
            <dependency name="StorageLocationPool" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>

      <register name="Wiff2StorageLocationFactory" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IStorageLocationFactory, Clearcore2.RFLight.SampleDataProvider"
                mapTo="Clearcore2.RFLight.SampleDataProvider.Wiff2StorageLocationFactory, Clearcore2.RFLight.SampleDataProvider" >
        <lifetime type="singleton"/>
      </register>

      <register name="StorageLocationPool" type="Clearcore2.RFLight.SampleDataProvider.Contracts.IStorageLocationPool, Clearcore2.RFLight.SampleDataProvider"
          mapTo="Clearcore2.RFLight.SampleDataProvider.StorageLocationPool, Clearcore2.RFLight.SampleDataProvider" >
        <constructor>
          <param name="storageLocationFactory">
            <dependency name="Wiff2StorageLocationFactory" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>


      <register name="HashGeneratorFactory" type="Clearcore2.DataService.Repository.Contract.IHashGeneratorFactory, Clearcore2.SampleData.ServerCommon"
    mapTo="Clearcore2.RFLight.SampleDataProvider.Persistence.Cryptography.HashGeneratorFactory, Clearcore2.RFLight.SampleDataProvider.Persistence.Cryptography" >
        <lifetime type="singleton"/>
      </register>

    </container>
  </containers>
</DataServiceComponent.ExternalFile>